{# <footer class="pb-0 bg-very-light-gray contain-background background-position-center-top sm-background-image-none">
    <div class="container">
        <div
            class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center mt-13 md-mt-15 sm-mt-0 mb-5 sm-mb-50px">
            <!-- start features box item -->
            <div class="col icon-with-text-style-03 md-mb-30px">
                <div class="feature-box ps-8 pe-8 lg-ps-0 lg-pe-0 overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="bi bi-telephone-inbound d-inline-block icon-medium text-dark-gray mb-15px"></i>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="fw-700 text-dark-gray fs-15 text-uppercase">Nous contacter</span>
                        <div class="w-100 d-block">
                            <span class="d-block">Téléphone:
                                <a href="tel:1800222000">03 20 56 89</a>
                            </span>
                            <span class="d-block">email: leplateau@gmil.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-03">
                <div class="feature-box ps-8 pe-8 lg-ps-0 lg-pe-0 overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="bi bi-geo-alt d-inline-block icon-medium text-dark-gray mb-15px"></i>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="fw-700 text-dark-gray fs-15 text-uppercase">Où nous trouver</span>
                        <p class="md-w-70 sm-w-90 xs-w-70 mx-auto">Lorem ipsum consectetur adipiscing onsectetur.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
        </div>
    </div>
    <div class="border-top border-color-transparent-dark-very-light pt-25px pb-25px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 col-sm-6 fs-15 last-paragraph-no-margin text-center text-sm-start order-3 order-sm-2 order-md-1">
                    <p>&COPY; Copyright 2024
                        <a href="{{ path('home_index') }}" target="_blank" class="text-decoration-line-bottom text-dark-gray fw-600"></a>
                    </p>
                </div>
                <div class="col-md-4 text-center order-1 order-md-2 sm-mb-20px">
                    <a href="demo-restaurant.html" class="footer-logo d-inline-block">
                        <img src="{{ customAsset('app/main_logo.jpg')}}" data-at2x="{{ customAsset('app/main_logo.jpg')}}" alt="" class="default-logo">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 elements-social social-icon-style-08 xs-mb-15px text-center text-sm-end order-2 order-sm-3 order-md-3">
                    <ul class="small-icon dark d-inline-block">
                        <li>
                            <a class="facebook" href="https://www.facebook.com/" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> #}

<footer class="bg-nero-grey pb-0 pt-4 md-pt-6 sm-pt-9 xs-pt-11 background-position-center-top" style="background-image: url('{{ asset('app/demo-hosting-home-bg.jpg') }}')">
    <div class="container">
        <div class="row align-items-center mb-3 md-mb-5 xs-mb-8">
            <div class="col-sm-10 text-center text-sm-start order-2 order-sm-1">
                <h6 class="fw-400 d-inline-block align-middle mb-0 text-white">SPORTS - SENIORS - SANTE</h6>
                <div class="separator-line-1px d-none d-sm-inline-block align-middle ms-20px me-20px lg-ms-10px lg-me-10px mt-5px w-70px lg-w-50px bg-base-color"></div>
                <div class="text-base-color fs-26 fw-500 d-inline-block align-middle text-white">ARSMéLI</div>
            </div>
            <div class="col-sm-2 text-center text-sm-end order-1 order-sm-2 xs-mb-15px">
                <div class="footer-logo d-inline-block">
                    <img style="border-radius:50%;" src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="">
                </div>
            </div>
        </div> 
    </div> 
    <div class="footer-bottom p-20px border-top border-color-transparent-white-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 text-center text-lg-start md-mb-10px"> 
                    {# <ul class="footer-navbar fs-15 lh-normal">
						<li data-anchor="main-banner-section" class="nav-item header-link"><a href="#" class="nav-link">Accueil</a></li>
						<li data-anchor="activity-section" class="nav-item header-link"><a href="#" class="nav-link">Activités</a></li>
						<li data-anchor="agenda-section" class="nav-item header-link"><a href="#" class="nav-link">Agenda</a></li>
						<li data-anchor="retro-section" class="nav-item header-link"><a href="#" class="nav-link">Rétrospective</a></li>
						<li data-anchor="whoare-section" class="nav-item header-link"><a href="#" class="nav-link">Qui sommes-nous ?</a></li>
						<li class="nav-item header-link"><a href="#" class="nav-link">Contact</a></li>                    
                    </ul> #}
                </div>   
                <div class="col-lg-5 text-center text-lg-end"> 
                    <span class="fs-15">&copy; {{ 'now'|date('Y') }} Powered by <a href="https://guillaume-goubel.fr" target="_blank" class="text-decoration-line-bottom text-white">guillaume-goubel.fr</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>