
{# ! DATA FOR JS **************************************************************************** #}
<div id="isRdvGeoAlreadyExitsElmt" data-param="{{ (event.rdvLatitude != null and event.rdvLongitude != null) ? 'true' : 'false' }}"></div>
<div id="rdvLatElmt" data-param="{{ (event.rdvLatitude != null) ? event.rdvLatitude : 'false' }}"></div>
<div id="rdvLongElmt" data-param="{{ (event.rdvLongitude != null) ? event.rdvLongitude : 'false' }}"></div>
<div id="eventCanceledStatus" data-param="{{ event.getisCanceled|number_format }}"></div>
<div id="getActivitiesByUserPARAM" data-path="{{ path('admin_event_change_activities')}}"></div>
<div id="getViewTypePARAM" data-param="admin_event_form"></div>
<div id="getActivityMessageByActivityPARAM" data-path="{{ path('admin_event_message_activity')}}"></div>
<div id="getActivitycontentByActivityMessagePARAM" data-path="{{ path('admin_activity_message_content')}}"></div>
{# ! DATA FOR JS **************************************************************************** #}

{{ form_start(form)}}

    {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
        <div style="border-top: 1px dashed;border-bottom:1px dashed;" class="mb-5 row fs-14 fw-600">
            Cet événement est terminé. </br> Certains champs sont cachés ou non modifiables (annulation, dates, rendez-vous etc..).
            Pour forcer au changement de ces champs, merci de contacter votre super administrateur pour qu'il prenne la main sur cet évènement.
        </div>
    {% endif %}
    
    {% if event.isCanceled == false %}
        {% set checkLabel = "Annuler l'événement" %}
        {% set eventCanceledInfos = "L'événement sera ANNULÉ après l'enregistrement" %}
    {% else %}
        {% set checkLabel = "Maintenir l'événement" %}
        {% set eventCanceledInfos = "L'événement sera RESTAURÉ après l'enregistrement" %}
    {% endif %}
    <div style="border-top: 1px dashed;border-bottom:1px dashed;" class="mb-5 row {{ ((event != null and event.id != null and event.isPassed() == false) or is_granted('ROLE_SUPER_ADMIN')) ? 'd-flex' : 'd-none' }}  ">
        
        {% if event.isCanceled == true %}
            <div class="fs-14 fw-600 mt-2">L'événement est actuellement <span class="admin-activity-pills bg-alert">Annulé</span> </div>
        {% else %}
            <div class="fs-14 fw-600 mt-2">L'événement est actuellement <span class="admin-activity-pills bg-success">Maintenu</span> </div>            
        {% endif %}

        <div class="col-12 col-md-6 my-3">
            <div class="form-check form-switch">
                {{ form_widget(form.isCanceled, { attr: { class: 'form-check-input me-2' } }) }}
                {{ form_label(form.isCanceled, checkLabel, { label_attr: { class: 'form-check-label' } }) }}
                <div style="margin-left:21px;" class="d-none fs-13" id="eventCanceledInfos">{{eventCanceledInfos}}</div>
            </div>
        </div>
    </div>
    
    <div class="fs-14 text-base-color text-uppercase ls-1px fw-600"><i class="fa-solid fa-circle-info align-middle icon-large text-base-color me-1"></i>LES INFORMATIONS DE BASES<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
    <div class="row d-flex ">
        <div class="col-12 mt-1 {{ (is_granted('ROLE_SUPER_ADMIN')) ? '' : 'd-none' }}">
            {{ form_row(form.user) }}
        </div>
        <div class="col-12 col-md-6 mt-1">
            {{ form_row(form.cityPlace) }}
        </div>
        <div class="col-12 col-md-6 mt-1">
            {{ form_row(form.activity) }}
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.dateStartAt) }}  
            
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.dateStartAt , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.dateStartAt) }} 
            {% endif %}

            {% if form.dateStartAt.vars.errors|length > 0 %}
                <div class="form-errors text-red fs-14 fw-600">
                    {{ form_errors(form.dateStartAt) }} 
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.timeStartAt) }}  
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.timeStartAt , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.timeStartAt) }} 
            {% endif %}
        </div>
    </div>
    <div class="row d-flex ">
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.dateEndAt) }}  
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.dateEndAt , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.dateEndAt) }} 
            {% endif %}
            
            {% if form.dateEndAt.vars.errors|length > 0 %}
                <div class="form-errors text-red fs-14 fw-600">
                    {{ form_errors(form.dateEndAt) }} 
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.timeEndAt) }} 
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.timeEndAt , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.timeEndAt) }} 
            {% endif %}
        </div>
    </div>
    <div class="fs-14 text-base-color text-uppercase ls-1px fw-600 mt-5"><i class="fa-solid fa-circle-question align-middle icon-large text-yellow me-1"></i>LES INFORMATIONS COMPLEMENTAIRES<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
    <div class="row d-flex ">
        <div class="col-12 col-md-6 mt-1">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12 col-md-6 mt-1">
            {{ form_row(form.animators) }}
        </div>
    </div>
    <div class="row d-flex ">
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.eventDistance) }}  
            {{ form_widget(form.eventDistance) }} 
            {% if form.eventDistance.vars.errors|length > 0 %}
                <div class="form-errors text-red fs-14 fw-600">
                    {{ form_errors(form.eventDistance) }} 
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row d-flex ">
        <div class="col-12 mt-1">
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="fs-14 text-base-color text-uppercase ls-1px fw-600 mt-5"><i class="fa-solid fa-circle-info align-middle icon-large text-info me-1"></i>LES INFORMATIONS IMPORTANTES<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
    <div class="row d-flex">
        <div class="col-12 mt-1">            
            {{ form_label(form.activityMessage) }}  
            {{ form_widget(form.activityMessage) }}
            
            {% if event.activityMessage == null %}
                <div id="activityMessageContentContainer" class="mt-2 {{ (event.activityMessage != null) ? '' : ' d-none ' }}">
                    <label class="fw-500 text-light-gray" for="">Le contenu du message</label>
                    <div class="card-text preformatted" id="activityMessageContent"></div>
                </div>
            {% else %}
                <div id="activityMessageContentContainer" class="mt-2 {{ (event.activityMessage != null) ? '' : ' d-none ' }}">
                    <label class="fw-500 text-light-gray" for="">Le contenu du message</label>
                    <div class="card-text preformatted" id="activityMessageContent">{{ event.activityMessage.description|raw }}</div>
                </div>
            {% endif %}
            
        </div>
        <div class="col-12 mt-4">            
            {{ form_row(form.preparationInfos) }}
        </div>
    </div>

    <div class="fs-14 text-base-color text-uppercase ls-1px fw-600 mt-5"><i class="fa-solid fa-image align-middle icon-large text-base-color me-1"></i>LES PHOTOS<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
    <div class="row d-flex ">  
        <div class="col-12 col-md-6 mt-1">

            {{ form_label(form.mainPictureFile) }}  
            {{ form_widget(form.mainPictureFile) }} 
            {% if form.mainPictureFile.vars.errors|length > 0 %}
                <div class="form-errors text-red fs-14 fw-600">
                    {{ form_errors(form.mainPictureFile) }} 
                </div>
            {% endif %}

            {% if event != null %}
                {% if event.mainPicture != null %}   
                    
                    <div class="image-main-container-event-form d-flex">
                        <div class="image-container-event-form" style="background-image: url( {{ customAsset('data/uploads/event/photos/' ~ event.mainPicture ) }} );">
                        </div>

                        <div class="ps-4">
                            <div class="fs-13">Voici votre image principale actuelle</div>
                            <div>
                                <a href="#" class="btn btn-very-small btn-red left-icon d-table d-lg-inline-block lg-mb-15px md-mx-auto btn-round-edge-large" 
                                    data-bs-toggle="modal" data-bs-target="#pictureFileMain-deleteModal-{{ event.id }}">
                                    Effacer
                                </a>
                            </div>    
                        </div>
                    </div>

                    <!-- DELETE main picture MODALE -->
                    <div class="modal fade" id="pictureFileMain-deleteModal-{{ event.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fs-14">Confirmer la suppression de l'image ?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-small" data-bs-dismiss="modal">Annuler</button>
                                    <a href="{{ path('admin_event_pictureFileMain_delete', {id: event.id}) }}"
                                        class="btn btn-small btn-red btn-round-edge-large border-1 w-30">
                                        Supprimer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endif %}
            {% endif %}

        </div>

        <div class="col-12 col-md-6 mt-1">

            {{ form_label(form.picture2File) }}  
            {{ form_widget(form.picture2File) }} 
            {% if form.picture2File.vars.errors|length > 0 %}
                <div class="form-errors text-red fs-14 fw-600">
                    {{ form_errors(form.picture2File) }} 
                </div>
            {% endif %}

            {% if event != null %}
                {% if event.picture2 != null %}   
                    
                    <div class="image-main-container-event-form d-flex">
                        <div class="image-container-event-form" style="background-image: url( {{ customAsset('data/uploads/event/photos/' ~ event.picture2 ) }} );">
                        </div>

                        <div class="ps-4">
                            <div class="fs-13">Voici votre image n°2 actuelle</div>
                            <div>
                                <a href="#" class="btn btn-very-small btn-red left-icon d-table d-lg-inline-block lg-mb-15px md-mx-auto btn-round-edge-large" 
                                    data-bs-toggle="modal" data-bs-target="#pictureFile2-deleteModal-{{ event.id }}">
                                    Effacer
                                </a>
                            </div>    
                        </div>
                    </div>

                    <!-- DELETE main picture MODALE -->
                    <div class="modal fade" id="pictureFile2-deleteModal-{{ event.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-14">Confirmer la suppression de l'image ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-small" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('admin_event_pictureFile2_delete', {id: event.id}) }}"
                                    class="btn btn-small btn-red btn-round-edge-large border-1 w-30">
                                    Supprimer
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                {% endif %}
            {% endif %}

        </div>

        <div class="col-12 col-md-6 mt-4">
        
            {{ form_label(form.picture3File) }}  
            {{ form_widget(form.picture3File) }} 
            {% if form.picture3File.vars.errors|length > 0 %}
                <div class="form-errors text-red fs-14 fw-600">
                    {{ form_errors(form.picture3File) }} 
                </div>
            {% endif %}

            {% if event != null %}
                {% if event.picture3 != null %}   
                    
                    <div class="image-main-container-event-form d-flex">
                        <div class="image-container-event-form" style="background-image: url( {{ customAsset('data/uploads/event/photos/' ~ event.picture3 ) }} );">
                        </div>

                        <div class="ps-4">
                            <div class="fs-13">Voici votre image n°3 actuelle</div>
                            <div>
                                <a href="#" class="btn btn-very-small btn-red left-icon d-table d-lg-inline-block lg-mb-15px md-mx-auto btn-round-edge-large" 
                                    data-bs-toggle="modal" data-bs-target="#pictureFile3-deleteModal-{{ event.id }}">
                                    Effacer
                                </a>
                            </div>    
                        </div>
                    </div>

                    <!-- DELETE picture3 MODALE -->
                    <div class="modal fade" id="pictureFile3-deleteModal-{{ event.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-14">Confirmer la suppression de l'image ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-small" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('admin_event_pictureFile3_delete', {id: event.id}) }}"
                                    class="btn btn-small btn-red btn-round-edge-large border-1 w-30">
                                    Supprimer
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                {% endif %}
            {% endif %}

        </div>
    </div>

    {# AUTOCOMPLETION PART -- start #}
    <div class="fs-14 text-base-color text-uppercase ls-1px fw-600 mt-5 mb-2"><i class="fa-solid fa-map-location-dot icon-large text-base-color me-1"></i>LE LIEU DE RENDEZ-VOUS<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
    {# <div class="pac-card p-1 {{ ((event != null and event.id != null and event.isPassed() == false) or is_granted('ROLE_SUPER_ADMIN')) ? '' : ' d-none ' }}" id="pac-card"> #}
    <div class="pac-card p-1 {{ (event.isPassed() == false or is_granted('ROLE_SUPER_ADMIN')) ? '' : ' d-none ' }}" id="pac-card">
        <div>
            <div id="title">Indiquez ici l'adresse pour auto-complétion</div>
        </div>
        <div id="pac-container" class="p-3">
                        
            {% if event != null %}
                <input value="{{event.rdvAddress}}" id="pac-input" type="text" placeholder="ex : 41 rue XXXX , 59100, LILLE" />
            {% else %}
                <input id="pac-input" type="text" placeholder="ex : 41 rue XXXX , 59100, LILLE" />
            {% endif %}

        </div>
    </div>

    <div style="margin-left: 25px;" id="map"></div>

    <div id="infowindow-content">
        <span id="place-name" class="title"></span><br/>
        <span id="place-address"></span>
    </div>
    {# AUTOCOMPLETION PART -- end #}

    <div class="row d-flex ">  
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.rdvAddress) }}
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.rdvAddress , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.rdvAddress) }} 
            {% endif %}
        </div>
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.rdvCity) }}
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.rdvCity , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.rdvCity) }} 
            {% endif %}
        </div>
        <div class="col-12 mt-1">
            {{ form_label(form.rdvPlaceName) }}
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.rdvPlaceName , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.rdvPlaceName) }} 
            {% endif %}        
        </div>
    </div>
    
    <div class="row d-flex ">  
        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.rdvLatitude) }}
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.rdvLatitude , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.rdvLatitude) }} 
            {% endif %}        
        </div>

        <div class="col-12 col-md-6 mt-1">
            {{ form_label(form.rdvLongitude) }}
            {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_widget(form.rdvLongitude , { attr: { readonly: 'readonly' } }) }} 
            {% else %}
                {{ form_widget(form.rdvLongitude) }} 
            {% endif %}
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-medium btn-base-color left-icon d-table d-lg-inline-block lg-mb-15px md-mx-auto border-radius-30px">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}

<script src="https://maps.googleapis.com/maps/api/js?key={{ preferencesParameters.GMkey }}&libraries=places&v=weekly" crossorigin=""></script>
<script>
    
    // MAP AUTO COMPLETION
    function initMap() {

        const isAddressAlreadyExistElmt = document.getElementById("isRdvGeoAlreadyExitsElmt").getAttribute("data-param");

        var isAddressAlreadyExist = false;
        var rdvLat = 50.62925;
        var rdvLong = 3.057256;

        if (isAddressAlreadyExistElmt == 'true' ){
            isAddressAlreadyExist = true;
            rdvLat = parseFloat(document.getElementById("rdvLatElmt").getAttribute("data-param"));
            rdvLong = parseFloat(document.getElementById("rdvLongElmt").getAttribute("data-param"));
        }
        
        // Initialisation de la carte
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: rdvLat, lng: rdvLong },
            zoom: 13,
            mapTypeControl: false,
        });
        
        const card = document.getElementById("pac-card");
        const input = document.getElementById("pac-input");
        const options = {
            fields: ["formatted_address", "geometry", "name", "address_components"],
            strictBounds: false,
            types: ["address"],
            // componentRestrictions: { country: "fr" }
        };

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(card);
        const autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.bindTo("bounds", map);

        const infowindow = new google.maps.InfoWindow();
        const infowindowContent = document.getElementById("infowindow-content");
        infowindow.setContent(infowindowContent);

        const marker = new google.maps.Marker({
            map,
            anchorPoint: new google.maps.Point(0, -29),
        });

        // Vérifier si l'adresse existe déjà
        if (isAddressAlreadyExist) {
            // Coordonées de l'adresse existante
            const existingLat = rdvLat; // Remplacez par les coordonnées réelles
            const existingLng = rdvLong; // Remplacez par les coordonnées réelles

            // Placer le marqueur et centrer la carte
            const existingLocation = { lat: existingLat, lng: existingLng };
            marker.setPosition(existingLocation);
            marker.setVisible(true);
            
            map.setCenter(existingLocation);
            map.setZoom(17); // Zoom plus proche pour mettre en évidence l'adresse existante
        }

        // Événement de changement de lieu dans l'auto-complétion
        autocomplete.addListener("place_changed", () => {
            infowindow.close();
            marker.setVisible(false);

            const place = autocomplete.getPlace();

            function autoCompletionForm(place) {

                document.getElementById("event_rdvAddress").value = "";
                document.getElementById("event_rdvCity").value = "";

                if (!place.geometry || !place.geometry.location) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }

                if (place.geometry.location) {
                    document.getElementById("event_rdvLatitude").value = place.geometry.location.lat();
                    document.getElementById("event_rdvLongitude").value = place.geometry.location.lng();
                }

                if (place.address_components) {
                    let address_components = place.address_components;
                    document.getElementById("event_rdvAddress").value = place.formatted_address;
                    let cityName = address_components[2].long_name;
                    document.getElementById("event_rdvCity").value = cityName;
                }
            }

            if (place.geometry && place.geometry.location && place.address_components) {
                autoCompletionForm(place);
            }

            // Centrer la carte et zoomer sur le lieu sélectionné
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
            infowindowContent.children["place-name"].textContent = place.formatted_address;
            infowindow.open(map, marker);
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        initMap();

        // Disable enter key on form
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                if ($(document.activeElement).is('input[type="text"]')) {
                    event.preventDefault(); // Empêche la soumission du formulaire
                }
            }
        });
    });

    // Récupérer les éléments
    const checkbox = document.getElementById('event_isCanceled');
    const eventCanceledInfos = document.getElementById('eventCanceledInfos');
    const eventCanceledStatus = document.getElementById('eventCanceledStatus').getAttribute('data-param')

    // Fonction pour basculer la classe
    if (eventCanceledStatus == '0' ){
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                eventCanceledInfos.classList.remove('d-none');
                eventCanceledInfos.classList.add('d-block');
            } else {
                eventCanceledInfos.classList.remove('d-block');
                eventCanceledInfos.classList.add('d-none');
            }
        });

    }else{
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                eventCanceledInfos.classList.remove('d-block');
                eventCanceledInfos.classList.add('d-none');
            } else {
                eventCanceledInfos.classList.remove('d-none');
                eventCanceledInfos.classList.add('d-block');
            }
        });
    }

</script>


