
{# ! DATA FOR JS **************************************************************************** #}
    <div id="eventCanceledStatus" data-param="{{ event.getisCanceled|number_format }}"></div>
{# ! DATA FOR JS **************************************************************************** #}

{{ form_start(form)}}

    {% if event.isPassed() and not is_granted('ROLE_SUPER_ADMIN') %}
        <div style="border-top: 1px dashed;border-bottom:1px dashed;" class="mb-5 row fs-14 fw-600">
            Cet événement est terminé. </br> Certains champs sont cachés ou non modifiables (annulation, dates, rendez-vous etc..).
            Pour forcer au changement de ces champs, merci de contacter votre super administrateur pour qu'il prenne la main sur cet évènement.
        </div>
    {% endif %}
    
    {% if event.isCanceled == false %}
        {% set eventCanceledInfos = "L'événement sera ANNULÉ après l'enregistrement" %}
    {% else %}
        {% set eventCanceledInfos = "L'événement sera RESTAURÉ après l'enregistrement" %}
    {% endif %}
    <div style="border-top: 1px dashed;border-bottom:1px dashed;" class="mb-5 row {{ ((event != null and event.id != null and event.isPassed() == false) or is_granted('ROLE_SUPER_ADMIN')) ? 'd-flex' : 'd-none' }}  ">
        
        {% if event.isCanceled == true %}
            <div class="fs-14 fw-600 mt-2">L'événement est actuellement <span class="admin-activity-pills bg-alert">Annulé</span> </div>
        {% else %}
            <div class="fs-14 fw-600 mt-2">L'événement est actuellement <span class="admin-activity-pills bg-success">Maintenu</span> </div>            
        {% endif %}

        <div class="col-12 col-md-6 my-3">
            <div class="form-check form-switch">
                {{ form_widget(form.isCanceled, { attr: { class: 'form-check-input me-2' } }) }}
                {{ form_label(form.isCanceled, "Maintenir / Annuler", { label_attr: { class: 'form-check-label' } }) }}
                <div style="margin-left:21px;" class="d-none fs-13" id="eventCanceledInfos">{{eventCanceledInfos}}</div>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-medium btn-base-color left-icon d-table d-lg-inline-block lg-mb-15px md-mx-auto border-radius-30px">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}

<script>
    
    // Récupérer les éléments
    const checkbox = document.getElementById('event_type_canceler_isCanceled');
    const eventCanceledInfos = document.getElementById('eventCanceledInfos');
    const eventCanceledStatus = document.getElementById('eventCanceledStatus').getAttribute('data-param')

    // Fonction pour basculer la classe
    if (eventCanceledStatus == '0' ){
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                eventCanceledInfos.classList.remove('d-none');
                eventCanceledInfos.classList.add('d-block');
            } else {
                eventCanceledInfos.classList.remove('d-block');
                eventCanceledInfos.classList.add('d-none');
            }
        });

    }else{
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                eventCanceledInfos.classList.remove('d-block');
                eventCanceledInfos.classList.add('d-none');
            } else {
                eventCanceledInfos.classList.remove('d-none');
                eventCanceledInfos.classList.add('d-block');
            }
        });
    }
</script>


