{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    {{ parent() }}
    <!-- start header -->
	{% include 'admin/partials/parts/_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section right-side-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    <div class="row blog-details d-flex align-items-center"> 
                        <div class="col-8">
                            <div class="entry-meta fs-15">
                                <span>
                                <i class="text-dark-gray feather icon-feather-user"></i>
                                {{ app.user.firstName }} {{ app.user.lastName }}
                                </span>
                                <a href="{{ path('app_logout')}}">Déconnexion</a>
                            </div>
                            <h5 class="text-dark-gray fw-600 w-80 sm-w-100 mb-5">EVENEMENTS - Liste</h5>
                            {# <small>Voici la liste des événements créés par date de commencement et par créateur</small> #}
                        </div>

                        <div class="col-2 d-flex justify-content-end">
                            <a class="me-4" href="{{ path('calendar_index', {'from':'admin_event_index'}) }}"><i class="fa-solid fa-solid fa-calendar align-middle icon-large text-tropical-blue me-2"></i></a>
                            <a class="ms-4" href="{{ path('admin_event_new') }}"><i class="fa-solid fa-circle-plus align-middle icon-large text-base-color me-2"></i></a>
                        </div>
                        
                    </div>
                </div>

                <form action="" method="get">
                    <div class="col-12 blog-standard mb-2">
                        <div class="row gy-2"> <!-- gy-2 ajoute un espacement vertical entre les colonnes sur mobile -->
                            <!-- Filtre mois -->
                            <div class="col-12 col-md-6 col-lg-2">
                                <select name="monthChoice" class="form-select form-select-sm" aria-label="Sélectionner un mois">
                                    <option {{ monthChoice == 'all' ? 'selected' : '' }} value="all">Tout mois</option>
                                    {% for item in monthsList %}
                                        <option {{ monthChoice == item.month_number ? 'selected' : '' }} value="{{ item.month_number }}">{{ item.month_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Filtre année -->
                            <div class="col-12 col-md-6 col-lg-2">
                                <select name="yearChoice" class="form-select form-select-sm" aria-label="Sélectionner une année">
                                    {% for item in yearsList %}
                                        <option {{ yearChoice == item.year ? 'selected' : '' }} value="{{ item.year }}">{{ item.year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Filtre créateur -->
                            <div class="col-12 col-md-6 col-lg-3">
                                <select name="creatorChoice" class="form-select form-select-sm" aria-label="Sélectionner un créateur">
                                    {# {% if is_granted('ROLE_SUPER_ADMIN') %} #}
                                        <option selected value="all">Tout administrateur</option>
                                    {# {% endif %} #}
                                    {% for item in creatorsList %}
                                        <option {{ creatorChoice == item.user_id ? 'selected' : '' }} value="{{ item.user_id }}">{{ item.creator }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Filtre activité -->
                            <div class="col-12 col-md-6 col-lg-2">
                                <select name="activityChoice" class="form-select form-select-sm" aria-label="Sélectionner une activité">
                                    <option {{ activityChoice == 'all' ? 'selected' : '' }} value="all">Toutes activités</option>
                                    {% for item in activityList %}
                                        <option {{ activityChoice == item.id ? 'selected' : '' }} value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Filtre date -->
                            <div class="col-12 col-md-6 col-lg-2">
                                <select name="dateChoice" class="form-select form-select-sm" aria-label="Sélectionner une activité">
                                    <option {{ dateChoice == 'dateStartAt' ? 'selected' : '' }} value="dateStartAt">Commencement</option>
                                    <option {{ dateChoice == 'createdAt' ? 'selected' : '' }} value="createdAt">Création</option>
                                </select>
                            </div>
                            <!-- Bouton de recherche -->
                            <div class="col-12 col-md-6 col-lg-1 text-center text-md-start">
                                <button style="border-radius:8px;" class="btn btn-very-small btn-transparent-base-color" type="submit">
                                    <i style="font-size:15px; margin-left:0!important;" class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center justify-content-start pricing-table-style-06 pb-5">

                    <!-- Pagination -->
                    <div class="pagination-container d-flex justify-content-center">
                        {{knp_pagination_render(events, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig')}}
                    </div>
                    
                    {% if events is not empty %}
                        {% for event in events %}
                            {% if event.isMultiDay %}
                                {% include 'main_partials/components/_event_journey_card.html.twig' %}
                            {% else %}
                                {% include 'main_partials/components/_event_regular_card.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="no-matching-search-message">Pas de résultats pour cette recherche</div>
                    {% endif %}

                </div>

            </div>
        </div>
    </section>
    <!-- end section -->

    {% include 'main_partials/modals/_map_modal.html.twig' %}

    <!-- start footer -->
    {% include 'main_partials/parts/_footer_minimum.html.twig' %}
    <!-- end footer -->
</body>

{% endblock %}

{% block baseJavascripts %}
    
    {% block importmap %}
        {{ importmap(['app', 'base', 'mapModale', 'admin-event']) }}
    {% endblock %}

{% endblock %}

