{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/css/autocomplete.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
    <style>
 
    #mapid { height: 50vh; }

    .leaflet-control-geocoder-ban-form input {
      line-height: 50px !important;
    }

    .leaflet-control-geocoder-ban-selected {
        background-color: rgba(128, 204, 40, 0.3) !important;
    }

    .searchBar {
        border: 2px solid transparent !important;
        min-height: 50px !important;
        min-width: 50% !important;
        font-size: 1.3em;
        position: absolute;
        top: 0;
        z-index: 999;
        left: 100px;
        right: 100px;
    }

    .leaflet-control-geocoder-ban-icon{
        display:none;
    }

    .leaflet-touch .leaflet-bar a {
        line-height: 30px;
    }

    .leaflet-touch .leaflet-bar a {
        width: 100%!important;
        height: 30px;
        line-height: 30px;
        text-align: left;
    }

    a strong{
        width: 100%;
    }

    ul.leaflet-control-geocoder-ban-alternatives {
        background-color: white;
    }

    .leaflet-control-geocoder-ban-alternatives-minimized {
        display: none;
    }

    .validate-address-button {
        background-color: #28a745;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        display: none; /* Masqué par défaut */
    }

    .clear-address-button {
        background-color: red;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        display: none; /* Masqué par défaut */
    }

  </style>
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    <!-- start header -->
	{% include 'admin/partials/_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section top-space-margin right-side-bar">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    
                    <div class="col-12 blog-details mb-3"> 
                        <div class="entry-meta fs-15">
                            <span>
                            <i class="text-dark-gray feather icon-feather-user"></i>
                            {{ app.user.firstName }} {{ app.user.lastName }}
                            </span>
                            <a href="{{ path('app_logout')}}">Déconnexion</a>
                        </div>
                        <h5 class="text-dark-gray fw-600 w-80 sm-w-100 mb-6">Créer un NOUVEL EVENEMENT</h5>
                    </div>

                </div>

                <div class="col-12">
                    <div class="row mb-50px sm-mb-30px">     
                        {{ include('admin/event/_form.html.twig') }}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include 'main_partials/_footer_minimum.html.twig' %}
    <!-- end footer -->

    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">
                <i class="fa-solid fa-arrow-down-long align-middle icon-large text-base-color"></i>
            </span>
            <span class="scroll-line">
                <span class="scroll-point"></span>
            </span>
        </a>
    </div>
    <!-- end scroll progress -->

</body>

{% endblock %}

{% block baseJavascripts %}   
    
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>    
    {% block importmap %}
        {{ importmap(['app', 'base']) }}
    {% endblock %}
{% endblock %}

