{# EDIT BUTTON #}
{% if event.user != null and isEventActionsButtonVisible == true %}

    <div class="d-flex flex-column">
        
        {% if is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_ADMIN') and event.user.id == app.user.id ) %}
            <div data-id="card-{{ event.id }}" class="event-action-container {{ (event.isEnabled) ? 'enabled' : 'disabled' }}">
                <a href="#" data-current-status="{{ (event.isEnabled) ? 'enabled' : 'disabled' }}" data-id="card-{{ event.id }}" class="change-event-status btn btn-very-small d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    <i data-id="card-{{ event.id }}" class="event-icon {{ (event.isEnabled) ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' }}"></i>
                </a>
            </div>
        {% endif %}

        {% if event.user.id == app.user.id or is_granted('ROLE_SUPER_ADMIN') %}
            <div class="event-action-container edit">
                <a style="#" href="{{ path('admin_event_edit', { 'id': event.id}) }}?from={{ app.request.attributes.get('_route') }}" class="btn btn-very-small d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    <i class="fa-regular fa-folder-open"></i>
                </a>
            </div>
        {% endif %}

    </div>

{% endif %}