{# EDIT BUTTON #}
{% if event.user != null and isEventActionsButtonVisible and app.user.getIsCrudEdit %}

    <div class="d-flex flex-column">
        
        {% if is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_ADMIN') and event.user.id == app.user.id ) %}
            <div data-id="list-{{ event.id }}" class="event-action-container {{ (event.isEnabled) ? 'enabled' : 'disabled' }} event-list">
                <a href="#" data-current-status="{{ (event.isEnabled) ? 'enabled' : 'disabled' }}" data-id="list-{{ event.id }}" class="change-event-status btn btn-very-small d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    <i data-id="list-{{ event.id }}" class="event-icon {{ (event.isEnabled) ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' }}"></i>
                </a>
            </div>
        {% endif %}

        {% if app.user %}
            {% if event.user.id == app.user.id or is_granted('ROLE_SUPER_ADMIN') %}
                <div class="event-action-container edit event-list ">
                    <a style="#" href="{{ path('admin_event_edit', { 'id': event.id}) }}?from={{ app.request.attributes.get('_route') }}" class="btn btn-very-small d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
            {% endif %}
        {% endif %}

    </div>

{% endif %}