{% extends 'base.html.twig' %}

{% block title %}Accueil assocation arsméli
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <style>
        .hover-box.light-hover:hover img{
            filter: invert(1) grayscale(1);
        }
        @media (max-width: 575px) {
            .pagination-style-01 .page-item .page-link {
                margin: 0 0px!important;
            }
        }
        .d-block img{
            height:240px;
        }

        header .navbar-brand .default-logo {
            opacity: 0!important;
        }
        @media (max-width: 991px) {
            header .navbar-brand {
                padding: 7px 0;
            }
        }
    </style>

{% endblock %}

{% block body %}

	<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#383632"> 
    
    <!-- start header -->
	{% include 'home/partials/_header.html.twig' %}
	<!-- end header -->

	    <!-- start banner -->
        {% include 'home/partials/_banner.html.twig' %}
        <!-- end banner -->

        <!-- start section -->
        <section class="bg-very-light-gray pt-20px pb-20px sm-pt-40px" data-anime='{ "opacity": [0, 1], "translateY": [0, 0], "easing": "easeOutQuad", "duration": 1000,"staggervalue": 300, "delay": 600 }'>
            <div class="container overlap-section">
                <div class="row justify-content-center overlap-section border-radius-6px overflow-hidden g-0 box-shadow-extra-large">
                    <div class="col-lg-9 text-center fw-600 fs-20 lg-fs-20 ls-minus-05px text-dark-gray bg-white p-20px md-p-15px"><strong class="pe-5">Bientôt !</strong><span class="fw-700 text-base-color">09/08/2024</span> 
                        <span class="ps-5 pe-2">Randonnée Parc Wattignies</span> 
                    </div>
                    <div class="col-lg-3 text-center bg-yellow pt-20px pb-20px md-p-20px"><a href="{{ path('blog_index') }}" class="fw-700 text-dark-gray text-dark-gray-hover fs-20 lg-fs-20 ls-minus-05px">Informations ici<i class="feather icon-feather-arrow-right ms-5px"></i></a></div>
                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start section --> 
        <section class="overflow-hidden border-bottom border-color-extra-medium-gray">
            <div class="container">
                <div class="row align-items-center justify-content-center mb-6 sm-mb-50px position-relative">
                    <div class="col-lg-6 col-md-10 position-relative md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'> 
                        <img style="opacity:1!important" class="w-100" src="{{ customAsset('app/exemple_event.jpg')}}" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt="">
                    </div>
                    <div class="col-lg-5 offset-lg-1 last-paragraph-no-margin" data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "delay": 300, "easing": "easeOutCirc" }'>
                        <span class="text-base-color fw-600 mb-15px text-uppercase d-block">Notre dernier événement</span>
                        
                        <ul class="p-0 mb-25px mt-15px list-style-01 w-90 lg-w-100">
                            <li class="border-color-extra-medium-gray fw-600 text-dark-gray d-flex align-items-center pt-15px pb-15px">
                                {# <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px rounded-circle bg-solitude-blue me-10px text-center d-flex align-items-center justify-content-center flex-shrink-0"></div> #}
                                <span class="pe-4"><i class="fa-regular fa-calendar align-middle icon-medium"></i></span>
                                07/08/2024
                            </li>
                            <li class="border-color-extra-medium-gray fw-600 text-dark-gray d-flex align-items-center pt-15px pb-15px">
                                {# <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px rounded-circle bg-solitude-blue me-10px text-center d-flex align-items-center justify-content-center flex-shrink-0"></div> #}
                                <span class="pe-3"><i class="feather icon-feather-map-pin align-middle icon-medium"></i></span>
                                Lille
                            </li>
                        </ul>
                        
                        <h3 class="fw-600 text-dark-gray w-90 lg-w-100 text-dark-gray fw-700 ls-minus-2px">Vive les JO !!</h3>
                        <p class="w-90 sm-w-100">
                            La flamme olympique est venue rendre visite à l'Arsméli...Merci à tous pour votre investissement !!
                        </p>

                        <a href="{{ path('blog_index') }}" class="btn btn-large btn-yellow btn-box-shadow btn-rounded btn-switch-text mt-4">
                            <span>
                                <span class="btn-double-text" data-text="Infos">Infos</span>
                                <span><i class="feather icon-feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section id="activity-section" class="background-position-left-top background-no-repeat position-relative pt-0 pb-0 overflow-hidden">
            <div class="container-fluid px-0">
                <div class="row g-0">
                    
                    <div class="col-md-8 p-3 cover-background"  data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }' style="background-image: url('{{ asset('app/demo-hosting-home-bg.jpg') }}')">
                        <div class="row justify-content-center my-5 pt-5">
                            <div class="col-lg-8 text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 900, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <span class="text-white opacity-5 mb-5px text-uppercase d-block"></span>
                                <h3 class="text-white fw-700 ls-minus-1px highlight-separator" data-shadow-animation="true" data-animation-delay="1500">
                                    Nos activités<span><img src="{{ asset('app/highlight-separator.svg') }}" alt=""></span>
                                </h3>
                            </div>
                        </div>

                        <div style="pointer-events: none;" class="row row-cols-2 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 justify-content-start ps-8 pe-8 lg-px-0" data-anime='{ "el": "childs", "translateY": [30, 0], "scale":[0.8,1], "opacity": [0,1], "duration": 500, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                            
                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <img style="width: 60px;" src="{{ customAsset('app/randonnee.png')}}" alt="">
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Randonnées</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <i class="fa-solid fa-person-hiking align-middle icon-large icon-extra-large text-white mb-15px"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Marche Nordique</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <i class="fa-solid fa-person-biking align-middle icon-large text-base-color icon-extra-large text-white mb-15px"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Vélo</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->
                            
                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <i class="fa-solid fa-table-tennis-paddle-ball align-middle icon-large text-base-color icon-extra-large text-white mb-15px"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Tennis de table</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <i class="line-icon-Tennis align-middle text-base-color icon-extra-large text-white mb-15px"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Tennis</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <img style="width:60px;" src="{{ customAsset('app/badminton.png')}}" alt="">
                                        {# <i class="fa-solid fa-neuter align-middle icon-large text-base-color text-base-color icon-extra-large text-white mb-15px"></i> #}
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Badminton</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <img style="width:60px;" src="{{ customAsset('app/dance.png')}}" alt="">
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Danse</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <img style="width:60px;" src="{{ customAsset('app/gymnastic.png')}}" alt="">
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-22" style="font-size: 16px;">Gymnastique</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <i class="fa-solid fa-bowling-ball align-middle icon-large text-base-color icon-extra-large text-white mb-15px"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Bowling</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <i class="fa-solid fa-chess-board align-middle icon-large text-base-color text-base-color icon-extra-large text-white mb-15px"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Jeux de société</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->

                            <!-- start features box item -->
                            <a href="#" class="col icon-with-text-style-04 transition-inner-all mb-30px">
                                <div class="feature-box hover-box h-100 transition bg-orange border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                                    <div class="feature-box-icon">
                                        <i class="fa-solid fa-bus-simple align-middle icon-large text-base-color icon-extra-large text-white mb-15px"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block text-white fw-500 lh-24">Séjours</span> 
                                    </div>
                                    <div class="feature-box-overlay bg-white"></div>
                                </div>  
                            </a>
                            <!-- end features box item -->
                        </div>
                    </div>

                    <div class="col-md-4 position-relative" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        
                        <div style="z-index:9;background-color: #16233f;" class="opacity-extra-medium bg-blue-whale"></div>

                        <div class="swiper position-relative h-100" data-slider-options='{ "slidesPerView": 1, "loop": true, "allowTouchMove": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "effect": "fade" }'>
                            <div class="swiper-wrapper">
                                <!-- start text slider item -->
                                <div class="swiper-slide cover-background h-100 text-center" style="background-image: url({{ customAsset('app/sport1.webp') }})">
                                </div>
                                <div class="swiper-slide cover-background h-100 text-center" style="background-image: url({{ customAsset('app/sport2.jpg') }})">
                                </div>
                                <div class="swiper-slide cover-background h-100 text-center" style="background-image: url({{ customAsset('app/sport5.jpg') }})">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start page title -->
        <section id="agenda-section" class="pb-0 bg-very-light-gray">
            <div class="container">
                
                <div class="row align-items-center mb-1 p-2">
                    <div class="col-lg-12 sm-mb-15px d-flex justify-content-center align-items-center">
                        <h3 class="highlight-separator text-dark-gray alt-font ls-minus-1px fw-700" data-shadow-animation="true" data-animation-delay="1500">
                            Notre agenda<span><img src="{{ asset('app/highlight-separator.svg') }}" alt=""></span>
                        </h3>
                    </div>
                </div>

                <div class="row pb-5">
                    <div class="col-lg-5 md-mb-50px sm-mb-30px">
                        <h3 class="alt-font fw-600 text-base-color ls-minus-2px">Un programme riche en activités et en rencontres</h3>
                        <p class="w-80 lg-w-100 mb-30px sm-mb-25px">Participez à vos sports favoris ou venez découvrir avec nous de nouvelles pratiques sportives et culturelles.</p> 
                        <div>
                            <a href="{{ path('agenda_index') }}" class="btn btn-small btn-yellow btn-box-shadow btn-round-edge">Programme</a>
                            <a href="{{ path('calendar_index') }}" href="#" class="btn btn-small btn-yellow btn-box-shadow btn-round-edge">Calendrier</a>
                            <div class="mb-1 mt-2">
                                <a href="{{ asset('app/pdf/walk_agenda.pdf') }}" class="btn btn-small btn-transparent-dark-gray d-table d-lg-inline-block lg-mb-15px">Les randonnées 2024 en PDF<i class="fa-solid fa-file-pdf"></i></a>
                            </div>
                        </div>                       
                    </div>
                    <div style="position:relative;" class="col-xl-5 col-lg-6 offset-xl-2 offset-lg-1" data-anime='{"opacity": [0,1], "duration": 600, "delay":200, "staggervalue": 200, "easing": "easeOutQuad" }'>
                        <div class="accordion accordion-style-07" id="accordion-style-07" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
                            <!-- start accordion item -->
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-07-01" aria-expanded="false" data-bs-parent="#accordion-style-07">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray">
                                            <i class="feather icon-feather-plus"></i><span class="fw-600 fs-20">Encadrement par des animateurs agréés</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-07-01" class="accordion-collapse collapse" data-bs-parent="#accordion-style-07">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- start accordion item -->
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-07-02" aria-expanded="false" data-bs-parent="#accordion-style-07">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray">
                                            <i class="feather icon-feather-plus"></i><span class="fw-600 fs-20">Des séjours thématiques</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-07-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-07">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- start accordion item -->
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-07-03" aria-expanded="false" data-bs-parent="#accordion-style-07">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray">
                                            <i class="feather icon-feather-plus"></i><span class="fw-600 fs-20">Pour débutants et confirmés</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-07-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-07">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                        </div>
                    </div>
                </div>

                <div class="row align-items-center justify-content-center pricing-table-style-06 pb-5" data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    
                    <div id="calendar"></div>

                    <!-- start pricing item -->
                    <div class="fw-600 py-3">Nos 3 prochains rendez-vous</div>
                    
                    <div class="col-lg-4 col-md-8 md-mb-30px">
                        <div class="bg-white box-shadow-quadruple-large border border-radius-6px p-5 text-center"> 
                            <span class="fs-26 lh-30 ls-minus-05px d-block text-dark-gray fw-600">17 Octobre</span> 
                            <span class="fs-18 mb-25px d-inline-block fw-600">Randonnée</span>
                            <div class="row align-items-center">
                                <div class="col-6 pe-sm-0">
                                    <div style="height:70px;" class="d-flex align-items-center justify-content-center feature-box-icon bg-base-color border-radius-3px p-2 ms-2">
                                        <img style="width: 40px;" src="{{ customAsset('app/randonnee.png')}}" alt="">
                                        <div class="text-white px-1">13 Km</div>
                                    </div>
                                </div>
                                <div class="col-6 text-center text-sm-start last-paragraph-no-margin fs-15 lh-24">
                                    <div class="d-flex align-items-center justify-content-center flex-column">
                                        <div><img style="width: 60px;border: 1px solid;border-radius: 50%;" src="{{ customAsset('app/avatar-01.jpg')}}" alt=""></div>
                                        <div><p>Martine P</p></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="p-0 mt-20px mb-30px list-style-01 text-start lh-normal">
                                <li class="border-color-extra-medium-gray pt-20px pb-20px text-dark-gray fw-500 d-flex"><i class="feather icon-feather-map-pin me-5px"></i>Bouvines</li>
                                <li class="border-color-extra-medium-gray pt-20px pb-20px d-flex"><i class="feather icon-feather-clock me-5px"></i>14:00</li>
                                <li style="height:95px;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex flex-column">
                                    <div class="fs-12 mb-4">Rendez-vous</div>
                                    <a style="color:#275997;text-decoration: underline;" href="#" data-bs-toggle="modal" data-bs-target="#mapModal"><div class="fw-500">Parking de la mairie, Brunehaut</div></a>
                                </li>
                                <li style="height:95px;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex fs-14"></li>

                            </ul>
                            <div style="visibility:hidden;" class="pricing-footer w-100">
                                <a href="{{ path('blog_index2') }}" class="btn btn-small btn-transparent-light-gray btn-box-shadow btn-round-edge border-1 w-100">Plus d'informations</a>
                            </div>
                        </div>
                    </div> 

                    <div class="col-lg-4 col-md-8 md-mb-30px">
                        <div class="bg-white box-shadow-quadruple-large border border-radius-6px p-5 text-center"> 
                            <span class="fs-26 lh-30 ls-minus-05px d-block text-dark-gray fw-600">24 Octobre</span> 
                            <span class="fs-18 mb-25px d-inline-block fw-600">Randonnée</span>
                            <div class="row align-items-center">
                                <div class="col-6 pe-sm-0">
                                    <div style="height:70px;" class="d-flex align-items-center justify-content-center feature-box-icon bg-base-color border-radius-3px p-2 ms-2">
                                        <img style="width: 40px;" src="{{ customAsset('app/randonnee.png')}}" alt="">
                                        <div class="text-white px-1">12 Km</div>
                                    </div>
                                </div>
                                <div class="col-6 text-center text-sm-start last-paragraph-no-margin fs-15 lh-24">
                                    <div class="d-flex align-items-center justify-content-center flex-column">
                                        <div><img style="width: 60px;border: 1px solid;border-radius: 50%;" src="{{ customAsset('app/avatar-01.jpg')}}" alt=""></div>
                                        <div><p>Martine P</p></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="p-0 mt-20px mb-30px list-style-01 text-start lh-normal">
                                <li class="border-color-extra-medium-gray pt-20px pb-20px text-dark-gray fw-500 d-flex"><i class="feather icon-feather-map-pin me-5px"></i>Templeuve-en-Pévèle</li>
                                <li class="border-color-extra-medium-gray pt-20px pb-20px d-flex"><i class="feather icon-feather-clock me-5px"></i>14:00</li>
                                <li style="height:95px;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex flex-column">
                                    <div class="fs-12 mb-4">Rendez-vous</div>
                                    <a style="color:#275997;text-decoration: underline;" href="#" data-bs-toggle="modal" data-bs-target="#mapModal"><div class="fw-500">Parking centre ville, rue d’Anchin</div></a>
                                </li>
                                <li style="height:95px;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex fs-14">Lorem ipsum dolor sit, amet consectetur adipisicing elite</li>

                            </ul>
                            <div style="visibility:hidden;" class="pricing-footer w-100">
                                <a href="{{ path('blog_index2') }}" class="btn btn-small btn-transparent-yellow btn-box-shadow btn-round-edge border-1 w-100">Plus d'informations</a>
                            </div>
                        </div>
                    </div> 

                    <div class="col-lg-4 col-md-8 md-mb-30px">
                        <div class="bg-white box-shadow-quadruple-large border border-radius-6px p-5 text-center"> 
                            <span class="fs-26 lh-30 ls-minus-05px d-block text-dark-gray fw-600">31 Octobre</span> 
                            <span class="fs-18 mb-25px d-inline-block fw-600">Gymnastique</span>
                            <div class="row align-items-center">
                                <div class="col-6 pe-sm-0">
                                    <div style="height:70px;" class="d-flex align-items-center justify-content-center feature-box-icon bg-base-color border-radius-3px p-2 ms-2">
                                        <img style="width: 40px;" src="{{ customAsset('app/gymnastic.png')}}" alt="">
                                        <div class="text-white px-1"></div>
                                    </div>
                                </div>
                                <div class="col-6 text-center text-sm-start last-paragraph-no-margin fs-15 lh-24">
                                    <div class="d-flex align-items-center justify-content-center flex-column">
                                        <div><img style="width: 60px;border: 1px solid;border-radius: 50%;" src="{{ customAsset('app/avatar-01.jpg')}}" alt=""></div>
                                        <div><p>Martine P</p></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="p-0 mt-20px mb-30px list-style-01 text-start lh-normal">
                                <li class="border-color-extra-medium-gray pt-20px pb-20px text-dark-gray fw-500 d-flex"><i class="feather icon-feather-map-pin me-5px"></i>Lambersart</li>
                                <li class="border-color-extra-medium-gray pt-20px pb-20px d-flex"><i class="feather icon-feather-clock me-5px"></i>10:00</li>
                                <li style="height:95px;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex flex-column">
                                    <div class="fs-12 mb-4">Rendez-vous</div>
                                    <a style="color:#275997;text-decoration: underline;" href="#" data-bs-toggle="modal" data-bs-target="#mapModal"><div class="fw-500">Salle des sports Norbert Segard</div></a>
                                </li>
                                <li style="height:95px;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex fs-14">Consectetur adipisicing elit. Dolor corrupti ratione deserunt, quisquam sunt. </br> Lorem ipsum dolor sit amet consectetur [...]</li>

                            </ul>
                            <div class="pricing-footer w-100">
                                <a href="{{ path('blog_index2') }}" class="btn btn-small btn-transparent-yellow btn-box-shadow btn-round-edge border-1 w-100">Plus d'informations</a>
                            </div>
                        </div>
                    </div> 

                </div>  

            </div>
        </section>
        <!-- end page title -->

        <section id="retro-section" class="border-top border-color-extra-medium-gray bg-very-light-gray"> 
            <div class="container">
                
                <div class="row align-items-center mb-1 p-2">
                    <div class="col-lg-12 sm-mb-15px d-flex justify-content-center align-items-center">
                        <h3 class="highlight-separator text-dark-gray alt-font ls-minus-1px fw-700" data-shadow-animation="true" data-animation-delay="1500">
                            Retrospective<span><img src="{{ asset('app/highlight-separator.svg') }}" alt=""></span>
                        </h3>
                    </div>

                    <div class="row pb-5">
                        <div class="col-lg-5 md-mb-50px sm-mb-30px">
                            <h3 class="alt-font fw-600 text-base-color ls-minus-2px">Au coeur de notre territoire</h3>
                            <p class="w-80 lg-w-100 mb-30px sm-mb-25px">Venez découvrir ou redécouvrir notre patrimoine naturel ou culturel grâce au sport</p> 
                            <a href="{{ path('archive_index') }}" class="btn btn-small btn-yellow btn-box-shadow btn-round-edge">Tous nos évènements</a>
                        </div>
                        <div class="col-xl-5 col-lg-6 offset-xl-2 offset-lg-1" data-anime='{"opacity": [0,1], "duration": 600, "delay":200, "staggervalue": 200, "easing": "easeOutQuad" }'>
                            <div class="accordion accordion-style-07" id="accordion-style-07" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
                                <!-- start accordion item -->
                                <div class="accordion-item">
                                    <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                        <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-07-01" aria-expanded="false" data-bs-parent="#accordion-style-07">
                                            <div class="accordion-title mb-0 position-relative text-dark-gray">
                                                <i class="feather icon-feather-plus"></i><span class="fw-600 fs-20">En métropole Lilloise</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-style-07-01" class="accordion-collapse collapse" data-bs-parent="#accordion-style-07">
                                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end accordion item -->
                                <!-- start accordion item -->
                                <div class="accordion-item">
                                    <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                        <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-07-02" aria-expanded="false" data-bs-parent="#accordion-style-07">
                                            <div class="accordion-title mb-0 position-relative text-dark-gray">
                                                <i class="feather icon-feather-plus"></i><span class="fw-600 fs-20">En Belgique</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-style-07-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-07">
                                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end accordion item -->
                                <!-- start accordion item -->
                                <div class="accordion-item">
                                    <div class="accordion-header border-bottom border-color-transparent">
                                        <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-07-03" aria-expanded="false" data-bs-parent="#accordion-style-07">
                                            <div class="accordion-title mb-0 position-relative text-dark-gray">
                                                <i class="feather icon-feather-plus"></i><span class="fw-600 fs-20">En territoire rural & urbain</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-style-07-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-07">
                                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end accordion item -->
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-12 p-md-0">
                        <ul class="blog-grid blog-wrapper grid-loading grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>

                            {% for i in 1..1 %}

                                <li class="grid-item">
                                    <div class="card border-0 border-radius-4px box-shadow-quadruple-large">
                                        <div class="blog-image">
                                            <a href="{{ path('blog_index') }}" class="d-block"><img src="{{ customAsset('app/home/banner/banner.jpg') }}" alt="" /></a>
                                        </div>
                                        <div class="card-body p-13 md-p-11">
                                            <div  class="card-title mb-15px alt-font fw-600 fs-20 text-dark-gray d-inline-block">Build up healthy habits and strong peaceful life</div>
                                            <p>Lorem ipsum has been industry standard dummy text ever...</p>
                                            <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-16">
                                                <div class="me-auto">
                                                    <span class="d-inline-block">30 Septembre 2024</span>
                                                </div>
                                                <div class="like-count fs-15 fw-600">
                                                    <div style="height:70px;width:70px;" class="d-flex align-items-center justify-content-center feature-box-icon bg-base-color border-radius-3px p-2 ms-2">
                                                        <img style="width: 40px;" src="{{ customAsset('app/randonnee.png')}}" alt="">
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </li>
            
                                <li class="grid-item">
                                    <div class="card border-0 border-radius-4px box-shadow-quadruple-large">
                                        <div class="blog-image">
                                            <a href="{{ path('blog_index') }}" class="d-block"><img src="{{ customAsset('app/home/banner/last_event.jpg') }}" alt="" /></a>
                                        </div>
                                        <div class="card-body p-13 md-p-11">
                                            <div class="card-title mb-15px alt-font fw-600 fs-20 text-dark-gray d-inline-block">How to bring the season into your great work</div>
                                            <p>Lorem ipsum has been industry standard dummy text ever...</p>
                                            <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-16">
                                                <div class="me-auto">
                                                    <span class="d-inline-block">28 Août 2024</span>
                                                </div>
                                                <div class="like-count fs-15 fw-600">
                                                    <div style="height:70px;width:70px;" class="d-flex align-items-center justify-content-center feature-box-icon bg-base-color border-radius-3px p-2 ms-2">
                                                        <i class="fa-solid fa-person-hiking align-middle icon-large icon-extra-large text-white"></i>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="grid-item">
                                    <div class="card border-0 border-radius-4px box-shadow-quadruple-large">
                                        <div class="blog-image">
                                            <a href="{{ path('blog_index') }}" class="d-block"><img src="{{ customAsset('app/home/banner/exemple_event.jpg') }}" alt="" /></a>
                                        </div>
                                        <div class="card-body p-13 md-p-11">
                                            <div class="card-title mb-15px alt-font fw-600 fs-20 text-dark-gray d-inline-block">Be the strong willed one the public relationship</div>
                                            <p>Lorem ipsum has been industry standard dummy text ever...</p>
                                            <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-16">
                                                <div class="me-auto">
                                                    <span class="d-inline-block">13 Août 2024</span>
                                                </div>
                                                <div class="like-count fs-15 fw-600">
                                                    <div style="height:70px;width:70px;" class="d-flex align-items-center justify-content-center feature-box-icon bg-base-color border-radius-3px p-2 ms-2">
                                                        <i class="fa-solid fa-person-hiking align-middle icon-large icon-extra-large text-white"></i>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section id="whoare-section" class="background-position-left-top cover-background position-relative extra-big-section" style="background-image: url('{{ asset('app/demo-hosting-home-bg.jpg') }}')">
            <div class="container">
                <div class="row justify-content-center">                    
                    <div class="col-lg-5 col-md-10 position-relative md-mb-40px sm-mb-25px" data-anime='{ "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="icon-with-text-style-08 mb-20px">
                            <div class="feature-box feature-box-left-icon-middle">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <img style="width:8rem;border-radius:50%;" src="{{ customAsset('app/main-logo.png') }}">
                                    <div class="ms-2 d-inline-block alt-font fs-19 fw-500 ls-minus-05px text-white">Qui sommes-nous ?</div>
                                </div>
                            </div>
                        </div>
                        <h2 class="alt-font text-yellow fw-600 ls-minus-3px mx-auto">
                            Un esprit serein dans un corps en mouvement
                        </h2>
                        
                        <div class="alt-font text-white mx-auto">
                            Nous favorisons la convivialité dans chacun de nos sports, la sécurité et le maintien de votre forme.</br></br>
                            L'ARSMéLI est membre de la <strong>F</strong>édération <strong>F</strong>rancaise de <strong>R</strong>etraite <strong>S</strong>portive, fédération nationale multisports adaptée aux plus de 50 ans. 
                        </div>

                        <a href="https://www.ffrs-retraite-sportive.org/" target="_blank"><img style="width:8rem;border-radius:50%;" src="{{ customAsset('app/ffrs.png') }}"></a>
                        
                        <div class="overflow-hidden pt-55px">
                            <a class="btn btn-extra-large btn-yellow btn-rounded btn-box-shadow btn-switch-text d-inline-block me-15px xs-m-10px align-middle fw-600" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 500 }'>
                                <span>
                                    <span class="btn-double-text" data-text="c'est ici !">Plus d'informations ?</span>
                                    <span><i class="feather icon-feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-10 offset-xl-1 position-relative mt-minus-1">
                        <div class="row row-cols-auto row-cols-sm-2" data-anime='{ "el": "childs", "translateX": [30, 0], "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <!-- start features box item -->
                            <div class="col align-self-start">
                                <div class="feature-box text-start ps-30px pe-30px xl-pe-5px sm-pe-0">
                                    <div class="feature-box-icon position-absolute left-0px top-0px">
                                        <h2 class="alt-font fs-100 fw-700 ls-minus-1px opacity-1 mb-0">01</h2>
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin pt-30 md-pt-21 sm-pt-40px">
                                        <span class="text-white fs-20 d-inline-block fw-600 mb-5px">Sport</span>
                                        <p>eLearning allows learners to quickly and more easily complete their training.</p>
                                        <span class="w-60px h-3px bg-yellow d-inline-block"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col align-self-end mt-25 xs-mt-30px">
                                <div class="feature-box text-start ps-30px pe-30px xl-pe-5px sm-pe-0">
                                    <div class="feature-box-icon position-absolute left-0px top-0px">
                                        <h2 class="alt-font fs-100 fw-700 ls-minus-1px opacity-1 mb-0">02</h2>
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin pt-30 md-pt-21 sm-pt-40px">
                                        <span class="text-white fs-20 d-inline-block fw-600 mb-5px">Bien-être</span>
                                        <p>eLearning allows learners to quickly and more easily complete their training.</p>
                                        <span class="w-60px h-3px bg-yellow d-inline-block"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col align-self-start mt-minus-12 xs-mt-30px">
                                <div class="feature-box text-start ps-30px pe-30px xl-pe-5px sm-pe-0">
                                    <div class="feature-box-icon position-absolute left-0px top-0px">
                                        <h2 class="alt-font fs-100 fw-700 ls-minus-1px opacity-1 mb-0">03</h2>
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin pt-30 md-pt-21 sm-pt-40px">
                                        <span class="text-white fs-20 d-inline-block fw-600 mb-5px">Rencontres</span>
                                        <p>eLearning allows learners to quickly and more easily complete their training.</p>
                                        <span class="w-60px h-3px bg-yellow d-inline-block"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section id="faq-section" class="extra-big-section">
            <div class="container"> 
                <div class="row justify-content-center align-items-center mb-3">
                    <div class="col-lg-7 col-md-8 sm-mb-15px d-flex align-items-center">
                        <h2 class="highlight-separator text-dark-gray alt-font ls-minus-1px fw-700" data-shadow-animation="true" data-animation-delay="1500">
                            Foire aux questions<span><img src="{{ asset('app/highlight-separator.svg') }}" alt=""></span>
                        </h2>
                        <img style="width:7rem;border-radius:50%;" src="{{ customAsset('app/main-logo.png') }}">
                    </div>
                    <div class="col-lg-3 col-md-4 text-start text-md-end" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    </div>
                </div>
                <div class="row justify-content-center"> 
                    <div class="col-lg-10"> 
                        <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-chevron-up" data-inactive-icon="icon-feather-chevron-down" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <!-- start accordion item -->
                            <div class="accordion-item active-accordion">
                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-chevron-up icon-extra-medium"></i><span class="fw-600 fs-18">Faut-il habiter obligatoirement en Métropole Lilloise pour adhérer ?</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- start accordion item -->
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span class="fw-600 fs-18">Existe-t-il une cotisation ?</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- start accordion item -->
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-light-medium-gray">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span class="fw-600 fs-18">Faut-il être à la retraite pour adhérer ?</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- start accordion item -->
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-transparent">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span class="fw-600 fs-18">Comment devenir animateur au sein de l'association ?</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

		<!-- start footer -->
		{% include 'main_partials/_footer.html.twig' %}
		<!-- end footer -->

        <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-bs-dismiss="modal">Fermer</button>
                </div>
                </div>
            </div>
        </div>

        <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">
                    <i class="fa-solid fa-arrow-down-long align-middle icon-large text-base-color"></i>
                </span>
                <span class="scroll-line">
                    <span class="scroll-point"></span>
                </span>
            </a>
        </div>
        <!-- end scroll progress -->

    </body>
<!-- end subscription popup -->

{% endblock %}

{% block baseJavascripts %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

    {% block importmap %}
        {{ importmap(['app','base','home']) }}
    {% endblock %}
{% endblock %}
