{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<body data-mobile-nav-style="classic">
    {{ parent() }}
    
    <!-- start header -->
	{% include 'admin/partials/parts/_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section right-side-bar">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    <div class="row blog-details mb-3 d-flex align-items-center"> 
                        <div class="col-10">
                            {% include 'admin/partials/components/_admin_connexion_infos.html.twig' %}

                            <h5 class="text-dark-gray fw-600 w-80 sm-w-100 mb-1">ANIMATEUR - Modifier</h5>
                        </div>
                        <div class="admin-action col-2 d-flex justify-content-end">
                            <a href="{{ path('admin_animator_index') }}">
                                <i class="fa-solid fa-circle-left align-middle icon-large text-base-color me-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-10 col-12">
                    <div class="row mb-50px sm-mb-30px">     
                        {{ include('admin/animator/_form.html.twig') }}
                    </div>
                </div>

            </div>
        </div>
        
        {{ include('admin/animator/_delete_form.html.twig') }} 

    </section>
    <!-- end section -->

    {% include 'main_partials/parts/_footer_minimum.html.twig' %}

</body>
{% endblock %}

{% block baseJavascripts %}   
    
    {% block importmap %}
        {{ importmap(['app', 'base', 'admin-administrator', 'admin-animator']) }}
    {% endblock %}

{% endblock %}

