{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    {{ parent() }}

    <!-- start header -->
	{% include 'admin/partials/parts/_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section">
        <div class="container">
            <div class="row">
                
                {# <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    <div class="row blog-details d-flex align-items-center justify-content-between"> 
                        <div class="col-8">
                            <div style="font-size:2.1rem;" class="alt-font fw-600 text-dark-gray ls-minus-1px shadow-none shadow-in mb-3"><span class="text-highlight fw-600">ANIMATEURS<span style="background-color:#0077b6;" class="h-5px bottom-10px opacity-6 separator-animation"></span></span></h4>
                        </div>

                        <div class="admin-action col-2 d-flex justify-content-end">
                            
                            {% if app.request.get('from') == 'admin_activity_index' %}
                                <a href="{{ path('admin_activity_index')}}">
                                    <i class="fa-solid fa-circle-left align-middle icon-large text-base-color me-2"></i>
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="ms-4" href="{{ path('admin_animator_new') }}"><i class="fa-solid fa-circle-plus align-middle icon-large text-base-color me-2"></i></a>
                            {% endif %}
                        </div>

                    </div>
                </div> #}

                <div class="col-12 blog-standard md-mb-50px sm-mb-10px d-flex justify-content-end">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="admin-action col-2 d-flex justify-content-end">
                            <a class="ms-4" href="{{ path('admin_animator_new') }}"><i class="fa-solid fa-circle-plus align-middle icon-large text-base-color me-2"></i></a>
                        </div>

                        {% if app.request.get('from') == 'admin_activity_index' %}
                            {# <a href="{{ path('admin_activity_index')}}">
                                <i class="fa-solid fa-circle-left align-middle icon-large text-base-color me-2"></i>
                            </a> #}
                            <a id="backButton" href="#">
                                <i class="fa-solid fa-circle-left align-middle icon-large text-base-color ms-20px"></i>
                            </a>
                        {% endif %}

                    {% endif %}


                </div>

                <div class="col-12 blog-standard md-mb-50px sm-mb-10px d-flex align-items-center justify-content-start">
                    <div class="col-12 ">
                        <div style="font-size:2.1rem;" class="alt-font fw-600 text-dark-gray ls-minus-1px shadow-none shadow-in mb-3"><span class="text-highlight fw-600">ANIMATEURS<span style="background-color:#0077b6;" class="h-5px bottom-10px opacity-6 separator-animation"></span></span></div>
                    </div>
                </div>

                <form action="" method="get">
                    <div class="col-12 blog-standard mb-2">
                        <div class="row gy-2">
                            <!-- Filtre activité -->
                            <div class="col-12 col-md-6 col-lg-2">
                                <select name="activityChoice" class="form-select form-select-sm" aria-label="Sélectionner une activité">
                                    <option {{ activityChoice == 'all' ? 'selected' : '' }} value="all">Toutes activités</option>
                                    {% for item in activityList %}
                                        <option {{ activityChoice == item.id ? 'selected' : '' }} value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Filtre créateur -->
                            <div class="col-12 col-md-6 col-lg-3">
                                <select name="animatorChoice" class="form-select form-select-sm" aria-label="Sélectionner un créateur">
                                    {# {% if is_granted('ROLE_SUPER_ADMIN') %} #}
                                        <option selected value="all">Tout animateur</option>
                                    {# {% endif %} #}
                                    {% for animator in animatorList %}
                                        <option {{ animatorChoice == animator.id ? 'selected' : '' }} value="{{ animator.id }}">{{ animator.completeNameByLastName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Bouton de recherche -->
                            <div class="col-12 col-md-6 col-lg-1 text-center text-md-start">
                                <button style="border-radius:8px;" class="btn btn-very-small btn-transparent-base-color" type="submit">
                                    <i style="font-size:15px; margin-left:0!important;" class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div>
                    <div class="pagination-container d-flex justify-content-center">
                        {{knp_pagination_render(animators, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig')}}
                    </div>
                </div>

                <div class="row d-flex justify-content-center mt-4">
                    <div class="col-12 col-md-9" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 100, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>

                        {% if animators is not empty %}
                            {% for animator in animators %}
                                <div class="row border-bottom border-1 border-color-light-gray pb-25px mb-25px sm-pb-20px sm-mb-20px align-items-center">

                                    <div class="col-12 col-md-9 icon-with-text-style-01 md-mb-25px">
                                        
                                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin d-flex">

                                            <div class="feature-box-icon d-flex align-items-center flex-column me-50px md-me-35px col-12 col-md-2">
                                                <img 
                                                    class="border-radius-50" 
                                                    style="width: {{ animator.picture != null ? '70px' : '65px' }};" 
                                                    src="{{ animator.picture != null 
                                                        ? customAsset('data/uploads/animator/photos/' ~ animator.picture) 
                                                        : customAsset('app/default-avatar.png') }}" 
                                                    alt=""
                                                />
                                                {% if animator.user != null %}
                                                    <div class="d-flex flex-column align-items-center">
                                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                            <a href="{{ path('admin_administrator_edit', { 'id':animator.user.id, 'from':"admin_animator_index" }) }}"><i class="fa-solid fa-gear icon-medium mt-10px"></i></a>
                                                        {% else %}
                                                            <div><i class="fa-solid fa-gear icon-medium mt-10px"></i></div>
                                                        {% endif %}
                                                        
                                                        <div class="fs-13">Admin.</div>
                                                    </div>
                                                {% endif %}

                                            </div>

                                            <div class="feature-box-content col-12 col-md-8">
                                                <div class="d-inline-block text-dark-gray fs-20 ls-minus-05px"><span class="fw-700">{{ animator.lastName|upper }}</span> {{ animator.firstName|capitalize }} </div><br/>
                                                <div class="d-inline-block text-base-color fs-15 ls-minus-05px">{{ animator.email }}</div><br/>
                                                
                                                {% if animator.phone != null %}
                                                    <div class="d-inline-block text-base-color fs-15 ls-minus-05px">{{ animator.phone }}</div><br/>
                                                {% endif %}

                                                <div class="administrator-activies-list w-100 fs-14">
                                                    {% if  animator.getActivitiesUniqByName is not empty %}
                                                        {% for activityName in animator.getActivitiesUniqByName %}
                                                            <span class="admin-activity-pills bg-base-color fs-13">{{ activityName }}</span>
                                                        {% endfor %}
                                                    {% else %}
                                                        <span>L'animateur n'est actuellement rattaché à aucune activité.</span>
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-12 col-md-3 text-center text-md-end d-flex flex-column align-items-center">
                                        
                                        <div class="d-inline-block text-base-color mb-20px fs-13 ls-minus-05px">
                                            {% if animator.getIsEnabled == true %}
                                                <span class="admin-activity-pills bg-success fs-13">Activé</span>
                                            {% else %}
                                                <span class="admin-activity-pills bg-alert fs-13">Désactivé</span>
                                            {% endif %}
                                        </div>

                                        <div class="d-flex justify-content-start">
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a href="{{ path('admin_animator_edit', { 'id':animator.id }) }}" class="edit-administrator-btn btn btn-very-small d-table d-lg-inline-block lg-mb-15px mx-2">
                                                    <span>
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </span>
                                                </a>
                                            {% endif %}
                                            <a href="{{ path('admin_event_index') }}?monthChoice=all&yearChoice=all&animatorChoice={{ animator.id }}&isPassedChoice=all" class="edit-administrator-btn btn btn-very-small d-table d-lg-inline-block lg-mb-15px mx-2">
                                                <span>
                                                    <i class="fa-regular fa-folder-open"></i>
                                                </span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="no-matching-search-message">Pas de résultats pour cette recherche</div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </section>

    {% include 'main_partials/parts/_footer_minimum.html.twig' %}

</body>

{% endblock %}

{% block baseJavascripts %}
    
    {% block importmap %}
        {{ importmap(['app', 'base', 'admin-administrator', 'admin-animator']) }}
    {% endblock %}

{% endblock %}
