{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    {{ parent() }}
    
    <!-- start header -->
	{% include 'admin/partials/_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section right-side-bar">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    <!-- start blog details  -->
                    <div class="col-12 blog-details mb-3"> 
                        <div class="entry-meta fs-15">
                            <span>
                            <i class="text-dark-gray feather icon-feather-user"></i>
                            {{ app.user.firstName }} {{ app.user.lastName }}
                            </span>
                            <a href="{{ path('app_logout')}}">Déconnexion</a>
                        </div>
                        <h5 class="text-dark-gray fw-600 w-80 sm-w-100 mb-6">ANIMATEURS</h5>
                    </div>
                    
                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="col-12">
                            <div class="fs-14 text-base-color text-uppercase ls-1px fw-600">Les événements que j'ai créés ou modifiés<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
                        </div>
                    {% endif %}
                    <!-- end blog details -->
                </div>

            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include 'main_partials/_footer_minimum.html.twig' %}
    <!-- end footer -->

</body>

{% endblock %}

{% block baseJavascripts %}
    
    {% block importmap %}
        {{ importmap(['app', 'base']) }}
    {% endblock %}

{% endblock %}

