<div class="container-fluid px-0">
    <div class="row g-0">
        
        <div class="col-md-8 p-3 cover-background"  data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }' style="background-image: url('{{ asset('app/demo-hosting-home-bg.jpg') }}')">
            <div class="row justify-content-center my-5 pt-5">
                <div class="col-lg-8 text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 900, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span class="text-white opacity-5 mb-5px text-uppercase d-block"></span>
                    <h3 class="text-white fw-700 ls-minus-1px highlight-separator" data-shadow-animation="true" data-animation-delay="1500">
                        Nos activités<span><img src="{{ asset('app/highlight-separator.svg') }}" alt=""></span>
                    </h3>
                </div>
            </div>

            <div class="row row-cols-2 row-cols-lg-5 row-cols-md-5 row-cols-sm-2 justify-content-start ps-8 pe-8 lg-px-0" data-anime='{ "el": "childs", "translateY": [30, 0], "scale":[0.8,1], "opacity": [0,1], "duration": 200, "delay": 80, "staggervalue": 100, "easing": "easeOutQuad" }'>
                
                {% for activity in activities %}
                    
                    <a href="#" data-id="{{ activity.id }}" class="activity-infos-link col icon-with-text-style-04 transition-inner-all mb-30px">
                        <div class="activity-container feature-box h-100 {{ activity.classColor }} transition light-hover border-radius-6px p-13 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
                            <div class="feature-box-icon">
                                {% if activity.pictureType == "image" %}
                                    <img class="my-2" style="width: 40px;" src="{{ customAsset('app/' ~ activity.picture )}}" alt="">
                                {% else %}
                                    <i class="{{ activity.picture }} align-middle icon-large text-white my-3"></i>
                                {% endif %}
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block text-white fw-500 lh-24">{{ activity.name|capitalize }}</span> 
                            </div>
                            <div class="feature-box-overlay"></div>
                        </div>  
                    </a>
                    
                {% endfor %}

            </div>
        </div>

        <div class="col-md-4 position-relative" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }'>
            
            <div style="z-index:9;background-color: #16233f;" class="opacity-extra-medium bg-blue-whale"></div>

            <div class="swiper position-relative h-100" data-slider-options='{ "slidesPerView": 1, "loop": true, "allowTouchMove": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "effect": "fade" }'>
                <div class="swiper-wrapper">
                    <!-- start text slider item -->
                    <div class="swiper-slide cover-background h-100 text-center" style="background-image: url({{ customAsset('app/sport1.webp') }})">
                    </div>
                    <div class="swiper-slide cover-background h-100 text-center" style="background-image: url({{ customAsset('app/sport2.jpg') }})">
                    </div>
                    <div class="swiper-slide cover-background h-100 text-center" style="background-image: url({{ customAsset('app/sport5.jpg') }})">
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>