<header class="header-with-topbar">
	<div class="header-top-bar top-bar-dark bg-yellow" style="background-color:#1D2F8F">
		<div class="container-fluid">
			<div class="row h-42px align-items-center m-0">
				<div class="col-md-7 text-center text-md-start">
					<div class="fs-13 text-white"><span class="opacity-6 me-5px"></span><span class="fw-600">Membre de la <strong>F</strong>édération <strong>F</strong>rancaise de <strong>R</strong>etraite <strong>S</strong>portive</span> - FFRS</div>
				</div>
				<div class="col-5 text-end d-none d-md-flex">
					<a href="https://www.ffrs-retraite-sportive.org/" target="_blank" class="widget fs-13 text-white text-white-hover opacity-8"><i class="feather icon-feather-navigation text-white position-relative top-1px"></i>ffrs-retraite-sportive.org</a>
				</div>
			</div>
		</div>
	</div>
	<!-- start navigation -->
	<nav class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse" data-header-hover="light">
		<div class="container-fluid">
			<div class="col-auto col-lg-2 me-lg-0 me-auto d-flex align-items-center">
				<a data-anchor="main-banner-section" class="navbar-brand header-link" href="#">
					<img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="default-logo">
					<img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="alt-logo">
					<img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="mobile-logo"> 
				</a>
			</div>
			<div class="col-auto menu-order position-static">
				<button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav"> 
					<ul class="navbar-nav"> 
						<li data-anchor="main-banner-section" class="nav-item header-link"><a href="#" class="nav-link">Accueil</a></li>
						<li data-anchor="activity-section" class="nav-item header-link"><a href="#" class="nav-link">Activités</a></li>
						<li data-anchor="agenda-section" class="nav-item header-link"><a href="#" class="nav-link">Agenda</a></li>
						<li data-anchor="retro-section" class="nav-item header-link"><a href="#" class="nav-link">Rétrospective</a></li>
						<li data-anchor="whoare-section" class="nav-item header-link"><a href="#" class="nav-link">Qui sommes-nous ?</a></li>
						<li data-anchor="faq-section" class="nav-item header-link"><a href="#" class="nav-link">FAQ</a></li>
						<li class="nav-item"><a href="{{ path('contact_index')}}" class="nav-link">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-auto col-lg-2 text-end lg-pe-5px">
				<div class="header-icon">
					{# <div class="header-search-icon icon d-none d-sm-flex">
						<a href="#" class="search-form-icon header-search-form"><i class="align-middle feather icon-feather-search fs-18 me-5px xl-me-0"></i><span class="align-middle d-none d-xxl-inline-block"> Search</span></a> 
						<div class="search-form-wrapper">
							<button title="Close" type="button" class="search-close">×</button>
							<form id="search-form" role="search" method="get" class="search-form text-left" action="search-result.html">
								<div class="search-form-box">
									<h2 class="text-dark-gray fw-700 ls-minus-2px text-center mb-4 alt-font">What are you looking for?</h2>
									<input class="search-input" id="search-form-input5e219ef164995" placeholder="Enter your keywords..." name="s" value="" type="text" autocomplete="off">
									<button type="submit" class="search-button">
										<i class="feather icon-feather-search" aria-hidden="true"></i> 
									</button>
								</div>
							</form>
						</div>
					</div>  #}
					<div class="header-button ms-30px xxl-ms-10px xs-ms-0">
												
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
							<a href="{{ path('admin_index') }}" class="btn btn-yellow btn-small btn-rounded btn-box-shadow btn-switch-text fw-600">
								<span>
									<span class="btn-double-text" data-text="Admin">Admin</span> 
								</span>
							</a>
						{% else %}
							<a href="{{ path('app_login') }}" class="btn btn-white btn-small btn-rounded btn-box-shadow btn-switch-text fw-600">
								<span>
									<span class="btn-double-text" data-text="Connexion">Connexion</span> 
								</span>
							</a>
						{% endif %}

					</div>
				</div>  
			</div>
		</div>
	</nav>
</header>