{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
<style>
    .d-block img{
        height:240px;
    }
    .page-link{
        cursor: pointer;
    }
</style>
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    {{ parent() }}
    
	<!-- start header -->
    <header>
        <nav style="background-color:#1B2982;" class="navbar navbar-expand-lg header-light header-reverse header-demo border-bottom border-color-extra-medium-gray" data-header-hover="light">
            <div class="container-fluid"> 
                <div class="col-auto col-lg-1 me-lg-0 me-auto">
                    <a class="navbar-brand" href="{{ path('home_index') }}">
                        <img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="default-logo">
                        <img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="alt-logo">
                        <img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="mobile-logo"> 
                    </a>
                </div>
                <div class="col-auto col-lg-11 menu-order position-static d-flex justify-content-end ">
                    <div class="header-icon">  
                        <div class="header-button">
                            <a href="{{ path('home_index') }}#retro-section" class="btn btn-yellow btn-small btn-switch-text btn-rounded text-transform-none btn-box-shadow purchase-envato">
                                <span>
                                    <span class="btn-double-text" data-text="Retour">Retour</span>
                                </span> 
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
	<!-- end header -->

    <!-- start section -->
    <section class="top-space-margin bg-very-light-gray">
        <div class="container">
            
            <div class="row justify-content-center mb-3 lg-mb-50px sm-mb-30px">
                <div class="col-lg-12 sm-mb-15px d-flex justify-content-center align-items-center flex-column">
                    <h3 class="highlight-separator text-dark-gray alt-font ls-minus-1px fw-700" data-shadow-animation="true" data-animation-delay="1500">
                        Nos archives<span><img src="{{ asset('app/highlight-separator.svg') }}" alt=""></span>
                    </h3>
                </div>
            </div>

            <form action="" method="get">
                <small>Voici la liste des événements passés par mois et par activités</small>
                <div class="col-12 blog-standard mb-2">
                    <div class="row gy-2">
                        <!-- Filtre mois -->
                        <div class="col-12 col-md-3">
                            <select name="monthChoice" class="form-select form-select-sm" aria-label="Sélectionner un mois">
                                {% for item in monthsList %}
                                    <option {{ monthChoice == item.month_number ? 'selected' : '' }} value="{{ item.month_number }}">{{ item.month_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Filtre année -->
                        <div class="col-12 col-md-3">
                            <select name="yearChoice" class="form-select form-select-sm" aria-label="Sélectionner une année">
                                {% for item in yearsList %}
                                    <option {{ yearChoice == item.year ? 'selected' : '' }} value="{{ item.year }}">{{ item.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Filtre activité -->
                        <div class="col-12 col-md-3">
                            <select name="activityChoice" class="form-select form-select-sm" aria-label="Sélectionner une activité">
                                <option {{ activityChoice == 'all' ? 'selected' : '' }} value="all">Toutes activités</option>
                                {% for item in activityList %}
                                    <option {{ activityChoice == item.id ? 'selected' : '' }} value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Bouton de recherche -->
                        <div class="col-12 col-md-3 text-center text-md-start">
                            <button style="border-radius:8px;" class="btn btn-very-small btn-transparent-base-color" type="submit">
                                <i style="font-size:15px; margin-left:0!important;" class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="row event-list-container">
                <div class="col-12 p-md-0">
                    <ul class="blog-grid blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <li class="grid-sizer"></li>

                        {% if events is not empty %}
                            {% for event in events %}
                                {% include 'main_partials/components/_event_passed.html.twig' %}
                            {% endfor %}
                        {% else %}
                            <div class="no-matching-search-message">Pas de résultats pour cette recherche</div>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include 'main_partials/parts/_footer_minimum.html.twig' %}
    <!-- end footer -->

</body>
<!-- end subscription popup -->

{% endblock %}

{% block baseJavascripts %}
    
    {% block importmap %}
        {{ importmap(['app', 'base']) }}
    {% endblock %}

{% endblock %}
