{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <style>
        /* Style pour l'overlay complet */
        #mapOverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000; /* Assure que l'overlay est au-dessus de la carte */
            display: none; /* Masquée par défaut */
        }

        /* Style pour le message d'information */
        #zoomNotification {
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 15px;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
        }
        #map{
            height: 200px!important;
        }
    </style>
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    <!-- start header -->
	{% include 'blog/partials/_blog_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="top-space-margin bg-very-light-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 blog-standard md-mb-50px sm-mb-40px">

                    <div class="col-12 blog-details mb-12"> 
 
                        <div class="entry-meta mb-20px fs-15">
                            <div class="row d-flex">
                                <div class="col-12 col-md-7">
                                   
                                    <div class="d-flex">
                                        <time class="text-center post-date border-radius-3px bg-medium-gray text-white text-uppercase fw-500 d-inline-block p-2">
                                            <span class="date d-block fs-30 lh-28">24</span>
                                            <span class="month d-block lh-24">Octobre</span>
                                        </time>
                                        <div class="d-flex align-items-center justify-content-center feature-box-icon bg-base-color border-radius-3px p-2 ms-2">
                                            <img style="width: 40px;" src="{{ customAsset('app/randonnee.png')}}" alt="">
                                            <div class="text-white px-1">12,4 Km</div>
                                        </div>
                                    </div>
                                    <div>Randonnée</div>
                                    <div class="event-time fw-500 mt-2">
                                        
                                        {% if is_passed == false %}
                                            <i class="feather icon-feather-clock me-5px"></i>14:00
                                        {% endif %}
                                        
                                        <i class="feather icon-feather-map-pin me-5px"></i>TEMPLEUVE-EN-PEVELE
                                    </div>                                                 
                                </div>
                                <div class="col-12 col-md-5 d-flex flex-column">
                                    <div class="trainer-box col-auto position-relative">
                                        <div class="d-flex overflow-hidden border-radius-6px border box-shadow-quadruple-large border-color-extra-medium-gray">
                                            <div class="col-auto w-90px cover-background" style="background-image: url({{ asset('app/avatar-01.jpg') }})"></div>
                                            <div class="col bg-white position-relative p-25px">
                                                <span class="text-dark-gray fw-600 d-block">MARTINE P</span>
                                                <span class="fs-15 lh-20 d-block">Animatrice</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <h5 class="text-dark-gray fw-600 w-80 sm-w-100 my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                        
                        {% if is_passed == false %}
                            <div class="text-medium-gray my-5 d-flex" style="background-color: white;padding: 2rem;">
                                <div class="col-12">
                                    <div id="map" style="z-index: 9;position: relative;">
                                        <div id="mapOverlay">
                                            <div id="zoomNotification">Appuyez sur <strong>Ctrl</strong> et utilisez la molette pour zoomer OU passez en plein écran</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {# IMAGE GALLERY #} 
                        <div class="container-fluid p-0">
                            <ul class="image-gallery-style-01 mb-2 gallery-wrapper grid grid-3col xxl-grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-small">
                                <li class="grid-sizer"></li> 
                                
                                <!-- start gallery item -->
                                <li class="grid-item transition-inner-all">
                                    <div class="gallery-box">
                                        <a href="{{ customAsset('app/home/banner/banner.jpg') }}" data-group="lightbox-gallery" title="Lightbox gallery image title">
                                            <div class="position-relative gallery-image bg-white overflow-hidden">
                                                <img src="{{ customAsset('app/home/banner/banner.jpg') }}" alt="" />
                                                <div class="d-flex align-items-center justify-content-center position-absolute top-0px left-0px w-100 h-100 gallery-hover move-bottom-top">
                                                    <div class="d-flex align-items-center justify-content-center w-50px h-50px rounded-circle bg-dark-gray">
                                                        <i class="feather icon-feather-search text-white icon-small"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <!-- end gallery item -->
                                
                                <!-- start gallery item -->
                                <li class="grid-item transition-inner-all">
                                    <div class="gallery-box">
                                        <a href="{{ customAsset('app/home/banner/last_event.jpg') }}" data-group="lightbox-gallery" title="Lightbox gallery image title">
                                            <div class="position-relative gallery-image bg-white overflow-hidden">
                                                <img src="{{ customAsset('app/home/banner/last_event.jpg') }}" alt="" />
                                                <div class="d-flex align-items-center justify-content-center position-absolute top-0px left-0px w-100 h-100 gallery-hover move-bottom-top">
                                                    <div class="d-flex align-items-center justify-content-center w-50px h-50px rounded-circle bg-dark-gray">
                                                        <i class="feather icon-feather-search text-white icon-small"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <!-- end gallery item -->
                                
                                <!-- start gallery item -->
                                <li class="grid-item transition-inner-all">
                                    <div class="gallery-box">
                                        <a href="{{ customAsset('app/home/banner/exemple_event.jpg') }}" data-group="lightbox-gallery" title="Lightbox gallery image title">
                                            <div class="position-relative gallery-image bg-white overflow-hidden">
                                                <img src="{{ customAsset('app/home/banner/exemple_event.jpg') }}" alt="" />
                                                <div class="d-flex align-items-center justify-content-center position-absolute top-0px left-0px w-100 h-100 gallery-hover move-bottom-top">
                                                    <div class="d-flex align-items-center justify-content-center w-50px h-50px rounded-circle bg-dark-gray">
                                                        <i class="feather icon-feather-search text-white icon-small"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <!-- end gallery item -->

                            </ul>
                        </div>
                      
                        {# TEXT PRESENTATION #}
                        <div class="row pt-4">
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                            {% if is_passed == false %}
                                <blockquote class="alt-font border-4 border-start border-color-base-color text-dark-gray fw-500 ps-40px mt-4 mb-4 ms-60px lg-ms-30px sm-ms-0 lg-ps-30px">
                                    <footer class="fs-14 fw-600 text-base-color d-inline-block text-uppercase">Informations importantes pour la préparation de l'événement</footer>
                                    <p>Tomorrow is the most important thing in life. Comes into us at midnight very clean. It's perfect when it arrives and it puts itself in our hands. It hopes we've learned something from yesterday.</p>
                                </blockquote>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- start footer -->
    {% include 'main_partials/_footer_minimum.html.twig' %}
    <!-- end footer -->

    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">
                <i class="fa-solid fa-arrow-down-long align-middle icon-large text-base-color"></i>
            </span>
            <span class="scroll-line">
                <span class="scroll-point"></span>
            </span>
        </a>
    </div>
    <!-- end scroll progress -->

</body>
<!-- end subscription popup -->

{% endblock %}

{% block baseJavascripts %}
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

    {% block importmap %}
        {{ importmap(['app', 'base', 'blog']) }}
    {% endblock %}

{% endblock %}
