{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    {{ parent() }}

    <!-- start header -->
	{% include 'admin/partials/parts/_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section right-side-bar">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    <div class="col-12 blog-details mb-3"> 
                        <div class="entry-meta fs-15">
                            <span>
                            <i class="text-dark-gray feather icon-feather-user"></i>
                            {{ app.user.firstName }} {{ app.user.lastName }}
                            </span>
                            <a href="{{ path('app_logout')}}">Déconnexion</a>
                        </div>
                        <h5 class="text-dark-gray fw-600 w-80 sm-w-100 mb-5">ACTIVITES</h5>
                    </div>

                    <form action="" method="get">
                        <div class="col-12 blog-standard mb-2">
                            <div class="row gy-2">
                                <!-- Filtre créateur -->
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select name="userChoice" class="form-select form-select-sm" aria-label="Sélectionner un créateur">
                                        <option {{ userChoice == 'all' ? 'selected' : '' }} value="all">Tout administrateur</option>
                                        {% for user in userList %}
                                            {# {% if user.id != app.user.id %} #}
                                                <option {{ userChoice == user.id ? 'selected' : '' }} value="{{ user.id }}">{{ user.name }}</option>
                                            {# {% endif %} #}
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- Bouton de recherche -->
                                <div class="col-12 col-md-6 col-lg-2 text-center text-md-start">
                                    <button style="border-radius:8px;" class="btn btn-very-small btn-transparent-base-color" type="submit">
                                        <i style="font-size:15px; margin-left:0!important;" class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="col-12">
                            <div class="fs-14 text-base-color text-uppercase ls-1px fw-600">Les activités dont je suis responsable<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
                            <div class="row mb-50px sm-mb-30px">
                                
                                {% for activity in userActivityArray %}
                                    
                                    <div class="card col-12 col-md-4 m-1">
                                        <div class="feature-box-icon" style="background-color:{{activity.color}}">
                                            {% if activity.pictureType == "image" %}
                                                <img class="my-2" style="width: 40px;" src="{{ customAsset('app/' ~ activity.picture )}}" alt="">
                                            {% else %}
                                                <i class="{{ activity.picture }} align-middle icon-large icon-large text-white my-3"></i>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ activity.name|capitalize }}</h5>
                                            {# <p class="card-text preformatted">
                                                {% if activity.description|length > 100 %}
                                                    {{ activity.description|slice(0, 100)|raw ~ '...' }}
                                                {% else %}
                                                    {{ activity.description|trim|raw }}
                                                {% endif %}
                                            </p> #}
                                            <div class="d-flex align-items-center">
                                                <a href="{{ path('admin_activity_edit', { 'id': activity.id }) }}" class="btn btn-very-small btn-box-shadow btn-rounded btn-yellow ">Description</a>
                                                <a style="width:130px;" href="{{ path('admin_event_new', { 'activityId': activity.id, 'from' : 'admin_activity_index' }) }}" class="btn btn-very-small btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto ms-3">Evénement<span class="bg-base-color text-white"><i class="fa-solid fa-circle-plus"></i></span></a>
                                            </div>
                                        </div>
                                        <div class="card-footer mb-3">
                                            <div class="fs-10">Responsable(s) de l'activité</div>
                                            <div class="row">
                                                {% if activity.users is empty %}
                                                    <div class="col-6 fs-13 text-red fw-600">SANS</div>
                                                {% else %}
                                                    {% for user in activity.users %}
                                                        <div class="col-6 fs-13">{{user.firstName|capitalize}} {{user.lastName}}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}

                    <div class="col-12">
                        
                        {% if not is_granted('ROLE_SUPER_ADMIN') and userChoice != app.user.id %}
                            <div class="fs-14 text-base-color text-uppercase ls-1px fw-600">Les activités des autres administrateurs <span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
                        {% endif %}

                        <div class="row mb-50px sm-mb-30px">
                            
                            {% for activity in noUserActivityArray %}

                                <div class="card col-12 col-md-4 m-1">
                                    <div class="feature-box-icon" style="background-color:{{activity.color}}">
                                        {% if activity.pictureType == "image" %}
                                            <img class="my-2" style="width: 40px;" src="{{ customAsset('app/' ~ activity.picture )}}" alt="">
                                        {% else %}
                                            <i class="{{ activity.picture }} align-middle icon-large icon-extra-large text-white my-3"></i>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ activity.name|capitalize }}</h5>
                                        {# <p class="card-text preformatted">
                                        
                                            {% if activity.description|length > 100 %}
                                                {{ activity.description|slice(0, 100)|raw ~ '...' }}
                                            {% else %}
                                                {{ activity.description|trim|raw }}
                                            {% endif %}
                                        
                                        </p> #}

                                        <a href="{{ path('admin_activity_edit', { 'id': activity.id }) }}" class="btn btn-very-small btn-box-shadow btn-rounded btn-yellow">Description</a>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <a style="width:130px;" href="{{ path('admin_event_new', { 'activityId': activity.id, 'from' : 'admin_activity_index' }) }}" class="btn btn-very-small btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto ms-3">Evénement<span class="bg-base-color text-white"><i class="fa-solid fa-circle-plus"></i></span></a>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer mb-3">
                                        <div class="fs-10">Responsable(s) de l'activité</div>
                                        <div class="row">
                                            {% if activity.users is empty %}
                                                    <div class="col-6 fs-13 text-red c">SANS</div>
                                            {% else %}
                                                {% for user in activity.users %}
                                                    <div class="col-6 fs-13">{{user.firstName|capitalize}} {{user.lastName}}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include 'main_partials/parts/_footer_minimum.html.twig' %}
    <!-- end footer -->

</body>

{% endblock %}

{% block baseJavascripts %}
    
    {% block importmap %}
        {{ importmap(['app', 'base', 'admin-activity']) }}
    {% endblock %}

{% endblock %}
