{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<body data-mobile-nav-style="classic">

    {{ parent() }}

    <!-- start header -->
	{% include 'admin/partials/parts/_header.html.twig' %}
	<!-- end header -->

    <!-- start section -->
    <section class="main-section">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-12 blog-standard md-mb-50px sm-mb-40px">
                    <div class="col-12 blog-details mb-3"> 
                        {# {% include 'admin/partials/components/_admin_connexion_infos.html.twig' %} #}
                        <div style="font-size:2.1rem;" class="alt-font fw-600 text-dark-gray ls-minus-1px shadow-none shadow-in mb-3"><span class="text-highlight fw-600">ACTIVITES<span style="background-color:#90e0ef;" class="h-5px bottom-10px opacity-6 separator-animation"></span></span></div>
                    </div>

                    <form action="" method="get">
                        <div class="col-12 blog-standard mb-2">
                            <div class="row gy-2">
                                <!-- Filtre créateur -->
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select name="userChoice" class="form-select form-select-sm" aria-label="Sélectionner un créateur">
                                        <option {{ userChoice == 'all' ? 'selected' : '' }} value="all">Tout administrateur</option>
                                        {% for user in userList %}
                                            <option {{ userChoice == user.id ? 'selected' : '' }} value="{{ user.id }}">{{ user.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- Bouton de recherche -->
                                <div class="col-12 col-md-6 col-lg-2 text-center text-md-start">
                                    <button style="border-radius:8px;" class="btn btn-very-small btn-transparent-base-color" type="submit">
                                        <i style="font-size:15px; margin-left:0!important;" class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="col-12">
                            <div class="fs-14 text-base-color text-uppercase ls-1px fw-600">
                                
                                {% if userChoiceInfos != 'all' and userChoiceInfos.id != app.user.id %}
                                    Les activités dont je suis administrateur avec {{userChoiceInfos.firstName}} {{userChoiceInfos.lastName}}
                                {% else %}
                                    Les activités dont je suis administrateur
                                {% endif %}
                                
                                <span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span>
                            </div>
                            <div class="row mb-50px sm-mb-30px activity-card-container">
                                
                                {% for activity in userActivityArray %}
                                    {% include 'admin/activity/partials/components/_activity_card.html.twig' %}
                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}

                    <div class="col-12">
                        
                        {% if not is_granted('ROLE_SUPER_ADMIN') and userChoice != app.user.id %}
                            <div class="fs-14 text-base-color text-uppercase ls-1px fw-600">
                                
                                {% if userChoiceInfos != 'all' %}
                                    Les activités de {{userChoiceInfos.firstName}} {{userChoiceInfos.lastName}}
                                {% else %}
                                    Les activités des autres administrateurs 
                                {% endif %}
                            
                            <span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span>
                            </div>
                        
                        {% endif %}

                        <div class="row mb-50px sm-mb-30px activity-card-container">
                            
                            {% for activity in noUserActivityArray %}
                                {% include 'admin/activity/partials/components/_activity_card.html.twig' %}
                            {% endfor %}

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include 'main_partials/parts/_footer_minimum.html.twig' %}
    <!-- end footer -->

</body>

{% endblock %}

{% block baseJavascripts %}
    
    {% block importmap %}
        {{ importmap(['app', 'base', 'admin-activity']) }}
    {% endblock %}

{% endblock %}
