<header>
	<nav style="background-color:#1D2F8F!important;" class="navbar navbar-expand-lg header-transparent header-reverse" data-header-hover="dark">
		<div class="container-fluid">
			<div class="col-auto col-lg-2 me-lg-0 me-auto d-flex align-items-center">
				<a data-anchor="main-banner-section" class="navbar-brand header-link" href="#">
					<img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="default-logo">
					<img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="alt-logo">
					<img src="{{ customAsset('app/main-logo.png') }}" data-at2x="{{ customAsset('app/main-logo.png') }}" alt="" class="mobile-logo"> 
				</a>
			</div>
			<div class="col-auto menu-order position-static">
				<button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav"> 
					<ul class="navbar-nav"> 
						<li class="nav-item"><a href="{{ path('admin_index') }}" class="nav-link">Accueil</a></li>
						<li class="nav-item"><a href="{{ path('admin_activity_index') }}" class="nav-link">Activités</a></li>
						<li class="nav-item"><a href="{{ path('admin_event_index') }}" class="nav-link">Evénements</a></li>
						<li class="nav-item"><a href="{{ path('admin_animator_index') }}" class="nav-link">Animateurs</a></li>
						{% if is_granted('ROLE_SUPER_ADMIN') %}
							<li class="nav-item"><a href="{{ path('admin_administrator_index') }}" class="nav-link">Administrateurs</a></li>
						{% endif %}	
					</ul>
				</div>
			</div>
			<div class="col-auto col-lg-2 text-end lg-pe-5px">
				<div class="header-icon">
					<div class="header-button ms-30px xxl-ms-10px xs-ms-0">
												
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
							<a href="{{ path('home_index') }}" class="btn btn-yellow btn-small btn-rounded btn-box-shadow btn-switch-text fw-600">
								<span>
									<span class="btn-double-text" data-text="Application">Application</span> 
								</span>
							</a>
						{% else %}
							<a href="{{ path('app_login') }}" class="btn btn-white btn-small btn-rounded btn-box-shadow btn-switch-text fw-600">
								<span>
									<span class="btn-double-text" data-text="Connexion">Connexion</span> 
								</span>
							</a>
						{% endif %}

					</div>
				</div>  
			</div>
		</div>
	</nav>
</header>