<div class="row align-items-center justify-content-center mb-8 xs-mb-50px">
    <div class="col-12 col-md-7 text-justify">

        <div class="d-flex">
            <div style="width:50px;" class="col-6 pe-sm-0 me-3">
                <div style="height:50px;background-color:{{activity.color}}" class="d-flex align-items-center justify-content-center feature-box-icon border-radius-50 p-2">
                    {% if activity.pictureType == "image" %}
                        <img class="my-2" style="width: 28px;" src="{{ customAsset('app/' ~ activity.picture )}}" alt="">
                    {% else %}
                        <i class="{{ activity.picture }} align-middle icon-medium icon-extra-large text-white my-3"></i>
                    {% endif %}
                </div>
            </div>
            <h3 class="alt-font fw-600 text-dark-gray ls-minus-1px shadow-none shadow-in"><span class="text-highlight fw-800">{{ activity.name }}<span style="background-color:{{ activity.color }};" class="h-8px bottom-10px opacity-6 separator-animation"></span></span></h3>
        </div>
        <p class="mb-35px sm-mb-25px preformatted">{{activity.description|raw}}</p> 
        
        {% if isEvents %}
            <a href="{{ path('agenda_index') }}?monthChoice=all&yearChoice=all&activityChoice={{ activity.id }}&from=activity-section" class="btn btn-small btn-gradient-emerald-blue-emerald-green btn-hover-animation-switch btn-round-edge btn-box-shadow">
                <span class="pt-4"> 
                    <span class="btn-text fs-14 text-white">Programme</span>
                    <span class="btn-icon text-white mt-8"><i class="feather icon-feather-arrow-right"></i></span>
                    <span class="btn-icon text-white mt-8"><i class="feather icon-feather-arrow-right"></i></span>
                </span>
            </a>
        {% else %}
            
        {% endif %}

    </div> 
</div>