<div class="row row-cols-1 row-cols-lg-1"> 
    {% for animator in event.animators %}       
        <div class="col mb-35px md-ms-0">
            <div class="d-flex flex-column flex-sm-row align-items-center border-radius-6px ps-25px pe-25px pt-15px pb-15px xl-p-30px text-center text-sm-start last-paragraph-no-margin">
                <div class="testimonials-author w-60px me-25px xs-me-0 xs-mb-20px flex-shrink-0">
                    {% if animator.picture != null %}
                        <img class="border-radius-50 rounded-circle me-15px xs-me-0" style="width: 60px;" src="{{ customAsset('data/uploads/animator/photos/' ~ animator.picture ) }}" class="w-75px" alt=""/>
                    {% else %}
                        <img clas="rounded-circle me-15px xs-me-0" style="width: 55px;" src="{{ customAsset('app/default-avatar.png')}}" alt="">
                    {% endif %}
                </div>
                <div class="testimonials-content">
                    <span class="alt-font text-dark-gray fw-500 mt-5px fs-17">{{ animator.firstName|capitalize }} <span class="alt-font text-dark-gray fw-600 mt-5px fs-17">{{ animator.lastName|upper }}</span></span>
                    <p class="card-text preformatted fs-14">{{animator.description|raw}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>