<div class="col-lg-12 pt-10px pb-10px border-bottom border-color-dark-gray ">
    <div class="row align-items-center">
        
        {# ADMIN INFOS #}
        <div class="col-12 pe-0">
            <div class="d-flex fs-13 justify-content-end">
                
                <div>
                {{ event.user.getCompleteNameByFirstLetterFirstName()}}
                </div>
                
                <div class="d-flex align-items-center flex-column">
                    <div class="ms-8 w-100px">{{ event.createdAt|date('d/m/Y')}}</div>
                    
                    {% if event.updatedAt != null  %}
                        <div class="ms-5 w-100px">{{ event.updatedAt|date('d/m/Y')}}</div>
                    {% else %}
                        <div class="ms-5 w-100px">---</div>
                    {% endif %}
                </div>
        
            </div>
        </div>
        
        <div class="col-md-1 text-center">
            <div class="event-id-container event-list"># {{ event.id }}</div>
        </div>
        
        <div class="col-md-2 text-center"><span class="fw-600 text-uppercase text-dark-gray fs-14">{{event.dateStartAt|format_date('medium',  locale= 'fr')}}</span></div>
        
        <div class="col-md-3 col-xl-2">
            <div class="fs-13"><i class="feather icon-feather-map-pin me-5px"></i>{{event.cityPlace}}</div>
            <div class="d-flex justify-content-between">
                <div><span class="fs-12"><i class="feather icon-feather-clock me-5px"></i></span>{{event.timeStartAt|date('H:i')}}</div>
                {% if event.timeEndAt != null %}
                <div><span class="fs-12">Fin :</span>{{event.timeEndAt|date('H:i')}}</div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-5 col-xl-7 col-lg-6 d-flex justify-content-center justify-content-md-start position-relative">
            <div class="d-flex align-items-center">
                <div style="border-radius:50%;width:36px;height:36px;background-color:{{event.activity.color}}" class="d-flex align-items-center justify-content-center width:50px;position:relative;border-radius-50 p-2 me-2">
                    {% if event.activity.pictureType == "image" %}
                        <img class="my-2" style="width: 20px;" src="{{ customAsset('app/' ~ event.activity.picture )}}" alt="">
                    {% else %}
                        <i class="{{ event.activity.picture }} align-middle icon-small text-white my-3"></i>
                    {% endif %}
                </div>
                <div style="width:150px;" class="fw-600 fs-15">{{ event.activity.name }}</div>
            </div>

            <div style="width:150px;" class="d-flex align-items-center">
                {% if event.animators is not empty %}
                    <div class="avatar-stack animators-infos-link" data-id='{{ event.id }}'>
                        {% for animator in event.animators %}
                            {% if animator.picture != null %}
                                <img style="height:40px;width:40px;border-radius: 50%;" src="{{ customAsset('data/uploads/animator/photos/' ~ animator.picture ) }}" alt="User 1" class="avatar">
                            {% else %}
                                <img style="height:40px;width:40px;border-radius: 50%;" src="{{ customAsset('app/default-avatar.png')}}" alt="User 1" class="avatar">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div style="width:150px;" class="d-flex flex-column col-md-1 sm-mb-10px ">
                {% if  event.isPassed == true %}
                    <div><span class="admin-activity-pills bg-medium-gray fs-12 mx-2">Terminé</span></div>
                {% endif %}
                {% if  event.isCanceled == true %}
                    <div><span class="admin-activity-pills bg-alert fs-12 mx-2">Annulé</span></div>
                {% endif %}
            </div>

            {# EDIT BUTTON #}
            {% if event.user != null and isEventActionsButtonVisible == true %}

                <div class="d-flex flex-column">
                    
                    {% if is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_ADMIN') and event.user.id == app.user.id ) %}
                        <div data-id="list-{{ event.id }}" class="event-action-container {{ (event.isEnabled) ? 'enabled' : 'disabled' }} event-list">
                            <a href="#" data-current-status="{{ (event.isEnabled) ? 'enabled' : 'disabled' }}" data-id="list-{{ event.id }}" class="change-event-status btn btn-very-small d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                                <i data-id="list-{{ event.id }}" class="event-icon {{ (event.isEnabled) ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' }}"></i>
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if app.user %}
                        {% if event.user.id == app.user.id or is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="event-action-container edit event-list ">
                                <a style="#" href="{{ path('admin_event_edit', { 'id': event.id}) }}?from={{ app.request.attributes.get('_route') }}" class="btn btn-very-small d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>

            {% endif %}

        </div>

    </div>
</div>