<div style="position:relative;" class="activity-card col-lg-3 col-md-8 md-mb-40px mb-8">
    
    {# EDIT BUTTON #}
    {% include "admin/partials/components/_event_actions_card.html.twig" %}

    {# CANCELED INFO #}
    {% if  event.isCanceled == true %}
        <div class="canceled-label"><span class="admin-activity-pills bg-alert fs-13">Annulé</span></div>
    {% endif %}

    {# PASSED INFO #}
    {% if  event.isPassed == true %}
        <div class="passed-label"><span class="admin-activity-pills bg-medium-gray fs-13">Terminé</span></div>
    {% endif %}

    {# CONTENT #}
    <div class="bg-white border border-radius-30px p-5 text-center main-card-container {{ (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') and isEventActionsButtonVisible) ? ' admin-view ' : '' }}"> 
        <div class="d-flex">
            <div style="width:50px;position:relative;" class="col-6 pe-sm-0 me-3">
                <div style="position: absolute;top: -7px;" class="event-distance px-1">
                    {% if event.eventDistance != null %}
                        {{event.eventDistance}} Km
                    {% endif %}
                </div>
                <div style="height:50px;background-color:{{event.activity.color}}" class="d-flex align-items-center justify-content-center border-radius-50 p-2">
                    {% if event.activity.pictureType == "image" %}
                        <img class="my-2" style="width: 28px;" src="{{ customAsset('app/' ~ event.activity.picture )}}" alt="">
                    {% else %}
                        <i class="{{ event.activity.picture }} align-middle icon-medium icon-extra-large text-white my-3"></i>
                    {% endif %}
                </div>

            </div>
            <div style="height:70px;" class="w-100 mb-5">
                {# <span class="fs-18 lh-30 ls-minus-05px d-block text-dark-gray fw-600">{{event.dateStartAt|format_date('medium',  locale= 'fr')}}</span>  #}
                <span class="fs-16 d-inline-block fw-600">{{event.activity.name|capitalize}}</span>
                <div class="fs-16 lh-20 ls-minus-05px text-dark-gray fw-600">
                    <span class="fs-10">du</span> {{event.dateStartAt|format_date('short',  locale= 'fr')}}
                </div> 
                <div class="fs-16 lh-20 ls-minus-05px text-dark-gray fw-600">
                    <span class="fs-10">au</span> {{event.dateEndAt|format_date('short',  locale= 'fr')}}
                </div>
            </div>
        </div>
        
        <div style="height:28px;" class="row align-items-center ps-5">
            <div class="col-6 text-center text-sm-start last-paragraph-no-margin fs-15 lh-24">
                <div class="d-flex align-items-center">
                    {% if event.animators is not empty %}
                        <div class="avatar-stack animators-infos-link" data-id='{{ event.id }}'>
                            {% for animator in event.animators %}
                                {% if animator.picture != null %}
                                    <img style="height:40px;width:40px;border-radius: 50%;" src="{{ customAsset('data/uploads/animator/photos/' ~ animator.picture ) }}" alt="User 1" class="avatar">
                                {% else %}
                                    <img style="height:40px;width:40px;border-radius: 50%;" src="{{ customAsset('app/default-avatar.png')}}" alt="User 1" class="avatar">
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <ul class="p-0 mt-20px mb-30px list-style-01 text-start lh-normal">
            <li style="height:67px;overflow:hidden;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex fs-14">{{ event.name|length > 60 ? event.name|slice(0, 60) ~ '...' : event.name }}</li>
            <li style="border-bottom:none!important;" class="border-color-extra-medium-gray pt-15px pb-0px text-dark-gray fs-14 fw-500 d-flex"><i class="feather icon-feather-map-pin me-5px"></i>{{event.cityPlace}}</li>
            <li class="border-color-extra-medium-gray pt-15px pb-15px d-flex">
                <i class="feather icon-feather-clock me-5px"></i>
                
                <div style="width:95px;" class="me-5 d-flex align-items-baseline">
                    <div class="fs-11 me-1">Départ :</div>
                    <div class="fs-14 fw-600">{{event.timeStartAt|date('H:i')}}</div>
                </div>

                {% if event.timeEndAt != null %}
                    <div style="width:95px;" class="d-flex align-items-baseline">
                        <div class="fs-11 me-1">Retour :</div>
                        <div class="fs-14 fw-600">{{event.timeEndAt|date('H:i')}}</div>
                    </div>
                {% endif %}
            </li>

            <li style="height:55px;border-bottom:none!important;" class="border-color-extra-medium-gray pt-10px pb-10px d-flex flex-column">
                {% if event.rdvAddress != null %}
                    <div class="fs-12 mb-4">Rendez-vous pour le départ :
                        {% if event.rdvLatitude != null and event.rdvLongitude != null %}
                            <a style="color:#275997;" href="#" class="link-to-map fs-13" data-rdv="{{event.rdvAddress}} {{event.rdvPlaceName}}" data-lat="{{ event.rdvLatitude }}" data-long="{{ event.rdvLongitude }}" data-bs-toggle="modal" data-bs-target="#mapModal"><span class="fw-500">{{event.rdvAddress}} {{event.rdvPlaceName}}</span></a>
                        {% else %}
                            <span class="fs-13" data-rdv="{{event.rdvAddress}} {{event.rdvPlaceName}}"><span class="fw-500">{{event.rdvAddress}} {{event.rdvPlaceName}}</span></span>
                        {% endif %}
                    </div>
                {% endif %}
            </li>
            
            {# <li style="height:95px;overflow:auto;" class="border-color-extra-medium-gray pt-20px pb-20px d-flex fs-14"></li> #}
            <li class="d-flex justify-content-center">
                <div class="pricing-footer w-70" style="height:35px;">
                    {# {% if event.description != null or event.preparationInfos != null %} #}
                        <a href="{{ path('blog_index', { 'id': event.id }) }}" class="btn btn-very-small btn-transparent-base-color btn-round-edge-large border-1 w-100">Plus d'informations</a>
                    {# {% endif %} #}
                </div>
            </li>
        </ul>

    </div>

    {# AMIN INFOS #}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') and isEventActionsButtonVisible %}
        <div class="admin-infos-in-card-container d-flex flex-column fs-13">
            
            <div>{{ event.user.getCompleteNameByFirstLetterFirstName()}}</div>
            
            <div class="d-flex align-items-center">
                <div class="w-100px">{{ event.createdAt|date('d/m/Y')}}</div>
                
                {% if event.updatedAt != null  %}
                    <div class="ms-5 w-100px">{{ event.updatedAt|date('d/m/Y')}}</div>
                {% else %}
                    <div class="ms-5 w-100px">---</div>
                {% endif %}
            </div>
    
        </div>
    {% endif %}
    
</div>