<li class="grid-item">
    <a href="{{ path('blog_index', { 'id': event.id, 'is_passed': true }) }}" class="card border-0 border-radius-30px main-card-container-last-event activity-card">
        
        
        
        {% if event.mainPicture != null %}
            <div class="blog-image" style="background-image:url({{ customAsset('data/uploads/event/photos/' ~ event.mainPicture )}});">
        {% else %}    
            <div class="blog-image" style="background-image:url({{ customAsset('app/sport1.webp')}} );">
        {% endif %}            
            </div>

        <div class="card-body p-7">
            <div class="d-flex">
                <div style="width:50px;position:relative;" class="col-6 pe-sm-0 me-3">
                    <div style="position: absolute;top: -7px;" class="event-distance px-1">
                        {% if event.eventDistance != null %}
                            {{event.eventDistance}} Km
                        {% endif %}
                    </div>
                    
                    <div style="height:50px;background-color:{{event.activity.color}}" class="d-flex align-items-center justify-content-center feature-box-icon border-radius-50 p-2">
                        {% if event.activity.pictureType == "image" %}
                            <img class="my-2" style="width: 28px;" src="{{ customAsset('app/' ~ event.activity.picture )}}" alt="">
                        {% else %}
                            <i class="{{ event.activity.picture }} align-middle icon-medium icon-extra-large text-white my-3"></i>
                        {% endif %}
                    </div>

                </div>
                
                <div class="w-100 ms-3">
                    <span class="fs-16 lh-30 ls-minus-05px d-block text-dark-gray fw-600">{{event.dateStartAt|format_date('medium',  locale= 'fr')}}</span> 
                    <span class="fs-14 mb-15px d-inline-block fw-600">{{event.activity.name|capitalize}}</span>
                </div>
            </div>
            <div class="fs-14 w-100 d-flex align-items-center ">
                <i class="feather icon-feather-map-pin me-5px"></i>{{event.cityPlace}}
            </div>
        </div>
    </a>
</li>