
{{ form_start(form)}}
    
    <div class="row d-flex ">
        <div class="col-12 col-md-6 mt-1 mb-5">
            <div class="form-check form-switch">
                {{ form_widget(form.isEnabled, { attr: { class: 'form-check-input me-2' } }) }}
                {{ form_label(form.isEnabled, 'activer / désactiver', { label_attr: { class: 'form-check-label' } }) }}
            </div>
        </div>
    </div>

    <div class="fs-14 text-base-color text-uppercase ls-1px fw-600">
        <i class="fa-solid fa-user-shield align-middle icon-medium text-base-color me-1"></i>
        MOT DE PASSE
        <span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span>
    </div>

    <div class="row d-flex ">
        <div class="col-12 col-md-6 mt-1">
            {% if admin is defined and  admin.password != null %}
                <span id="changePassWordBtn" class="admin-activity-pills bg-base-color fs-13">Changer le mot de passe</span>
            {% endif %}
        </div>
    </div>
    
    <div id="passWordContainer" class="row {{ (admin is defined and  admin.password != null) ? 'd-none' : 'd-flex' }}">
        <div class="col-12 col-md-6 mt-1">
            <div class="d-flex align-items-center justify-content-between">
                {{ form_row(form.plainPassword) }}
                <div data-input-id="administrator_plainPassword" class="display-password-btn"><i class="fa-regular fa-eye icone-medium"></i></div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-1">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    {{ form_label(form.plainPasswordRepeat) }}  
                    {{ form_widget(form.plainPasswordRepeat) }} 
                    {{ form_help(form.plainPasswordRepeat) }} 
                </div>
                <div data-input-id="administrator_plainPasswordRepeat" class="display-password-btn"><i class="fa-regular fa-eye icone-medium"></i></div>
            </div>
            {% if form.plainPasswordRepeat.vars.errors|length > 0 %}
                <div class="form-errors text-red fs-14">
                    {{ form_errors(form.plainPasswordRepeat) }} 
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="fs-14 text-base-color text-uppercase ls-1px fw-600 mt-4"><i class="fa-solid fa-circle-info align-middle icon-medium text-base-color me-1"></i>INFORMATIONS<span class="w-120px h-1px bg-base-color d-none d-lg-inline-block align-middle position-relative top-minus-1px ms-10px lg-w-70px"></span></div>
    <div class="row d-flex ">
        <div class="col-12 col-md-6 mt-1">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-12 col-md-6 mt-1">
            {{ form_row(form.lastName) }}
        </div>
    </div>
    <div class="row d-flex ">
        <div class="col-12 col-md-6 mt-1">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-12 col-md-6 mt-3">
            {{ form_row(form.activities) }}
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-medium btn-base-color left-icon d-table d-lg-inline-block lg-mb-15px md-mx-auto border-radius-30px">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}

